<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <!--
  Copyright (C) 2011 MPExtended Developers, http://mpextended.codeplex.com/
  
  MPExtended is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.
  
  MPExtended is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with MPExtended. If not, see <http://www.gnu.org/licenses/>.
  -->
  <Product
    Id="13b8d36a-8534-4402-81d7-196d0054cb5b"
    UpgradeCode="77a3282a-2b29-4b6f-bf6e-c7df725a6194"
    Name="MPExtended SingleSeat Services"
    Language="1033"
    Version="!(bind.FileVersion.MPExtended.Services.StreamingService.dll)"
    Manufacturer="MPExtended">

    <?include ../MPExtended.ServiceSetups.General/MPExtended.wxi ?>

    <!-- Directory structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MPExtendedDir" Name="MPExtended">
          <Directory Id="InstallDirectory" Name="SingleSeat Service">
            <?include ../MPExtended.ServiceSetups.General/StreamBinaries.wxi ?>
            <?include ../MPExtended.ServiceSetups.General/Extensions.wxi ?>

            <Component Id="Component_MPExtended" Guid="1b140519-1d3e-47e7-8474-aeea8f55300f">
              <File Source="$(var.MPExtended.ServiceHosts.SingleSeat.TargetDir)\MPExtended.ServiceHosts.SingleSeat.exe" KeyPath="yes" Id="MainService"/>
              <File Source="$(var.MPExtended.ServiceHosts.SingleSeat.TargetDir)\MPExtended.ServiceHosts.SingleSeat.exe.config" />
              <File Source="$(var.MPExtended.ServiceHosts.SingleSeat.TargetDir)\NLog.config" />

              <?include ../MPExtended.ServiceSetups.General/StreamingService.wxi ?>
              <?include ../MPExtended.ServiceSetups.General/ServerSetup.wxi ?>
              <?include ../MPExtended.ServiceSetups.General/ClientSetup.wxi ?>

              <!-- Service -->
              <ServiceInstall
                Id="InstallService"
                Type="ownProcess"
                Vital="yes"
                Name="MPExtended SingleSeat Service"
                DisplayName="MPExtended SingleSeat Service"
                Description="Offers remote access to MediaPortal TV Server, databases and shares"
                Start="auto"
                ErrorControl="ignore"
                Interactive="no"
                Account="LocalSystem">
              </ServiceInstall>
              <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="MPExtended SingleSeat Service" Wait="yes" />

              <!-- Add firewall exception -->
              <fire:FirewallException IgnoreFailure="yes" Id="FirewallException" Name="MPExtended SingleSeat Service" Scope="localSubnet" Protocol="tcp" Program="[#MainService]"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="OurAppDataFolder" Name="MPExtended">
          <Component Id="Component_AppData" Guid="6a3f3fb7-81d4-48db-85cd-96677df6834a">
            <File Source="$(var.MPExtended.ServiceHosts.SingleSeat.TargetDir)\Services.xml" />
            <File Source="$(var.MPExtended.ServiceHosts.SingleSeat.TargetDir)\MediaAccess.xml" />
            <File Source="$(var.MPExtended.ServiceHosts.SingleSeat.TargetDir)\Streaming.xml" />
            <File Source="$(var.MPExtended.ServiceHosts.SingleSeat.TargetDir)\TVAccess.xml" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="MPExtended.ServiceSetups.SingleSeat" Level="1">
      <ComponentRef Id="Component_Streaming_FFMpeg"/>
      <ComponentRef Id="Component_Streaming_Segmenter"/>
      <ComponentRef Id="Component_Streaming_VLC"/>
      <ComponentRef Id="Component_Streaming_VLC_Plugins"/>
      <ComponentRef Id="Component_MPExtended" />
      <ComponentRef Id="Component_AppData" />
    </Feature>
  </Product>
</Wix>