<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
    Copyright (C) 2011-2012 MPExtended Developers, http://mpextended.github.com/
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
  -->
  <Fragment>
    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MPEXTENDEDDIRECTORY" Name="MPExtended">
          <Directory Id="InstallDirectory" Name="WebMediaPortal">
            <!-- General registry (installation path) -->
            <Component Id="Component_Registry" Guid="76089ff3-ddd3-4370-b2b8-d57de76b238e">
              <RegistryKey Root="HKLM" Key="Software\MPExtended" Action="createAndRemoveOnUninstall">
                <RegistryValue Type="string" Name="WebMediaPortalInstallLocation" Value="[MPEXTENDEDDIRECTORY]WebMediaPortal" />
              </RegistryKey>
            </Component>

            <!-- Default config -->
            <Directory Id="Dir_Config" Name="DefaultConfig">
              <Component Id="Component_Config" Guid="e9ff6a7f-c9a1-4ea9-87b7-62cb70ce3cc0">
                <File Source="$(var.SolutionDir)\Config\Authentication.xml" />
                <File Source="$(var.SolutionDir)\Config\WebMediaPortal.xml" />
                <File Source="$(var.SolutionDir)\Config\WebMediaPortalHosting.xml" />
              </Component>
            </Directory>

            <!-- Web root -->
            <Directory Id="Dir_WWW" Name="www">
              <!-- This directory is also filled by WWW.wxs -->

              <!-- Skins -->
              <Directory Id="Dir_WWW_Skins" Name="Skins">
                <Component Id="Component_WWW_Skins" Guid="c083167d-d554-4e34-9564-62bea90b87a7">
                  <CreateFolder Directory="Dir_WWW_Skins" />
                </Component>
              </Directory>

              <!-- Plugins -->
              <Directory Id="Dir_WWW_Plugins" Name="Plugins">
                <Component Id="Component_WWW_Plugins" Guid="f6eb18ae-1ecb-4786-8b85-9df57727dd93">
                  <CreateFolder Directory="Dir_WWW_Plugins" />
                </Component>
              </Directory>

              <Directory Id="BinDirectory" Name="bin">
                <!-- Binaries for WebMP -->
                <Component Id="Component_WWW_Binaries" Guid="0e795d5d-4cff-4dc9-b8e8-2a06c354f6f5">
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\Deusty.Net.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MoreLinq.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\Newtonsoft.Json.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\ZeroconfService.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\WebMediaPortal.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\WebMediaPortal.pdb" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Libraries.Client.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Libraries.Client.pdb" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Libraries.Service.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Libraries.Service.pdb" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Libraries.Service.Config.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Libraries.Service.Config.pdb" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Libraries.Service.Config.XmlSerializers.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Services.Common.Interfaces.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Services.MediaAccessService.Interfaces.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Services.MetaService.Interfaces.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Services.StreamingService.Interfaces.dll" />
                  <File Source="$(var.MPExtended.Applications.WebMediaPortal.TargetDir)\MPExtended.Services.TVAccessService.Interfaces.dll" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>