<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appTitle" value="ITVInteractionLibrary"/>
    <variable name="logFilePath" value="${specialfolder:CommonApplicationData}/TV4Home/${appTitle}.log"/>

    <targets async="true">
      <target name="fileExtendedInfo" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"/>

      <target name="fileBasicInfo" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}"/>

      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="fileBasicInfo"/>
      <logger name="*" minlevel="Warn" writeTo="fileExtendedInfo"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
    </rules>
  </nlog>
</configuration>