<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="MPExtended.Scrapers.MovingPictures.MovingPicturesImporter">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9761/MPExtended/ScraperServiceMopi"/>
          </baseAddresses>
        </host>
        
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding" behaviorConfiguration="soapBehavior" contract="MPExtended.Services.ScraperService.Interfaces.IScraperService"/>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="soapBehaviorExtension" type="MPExtended.Libraries.Service.WCF.SoapBehavior, MPExtended.Libraries.Service"/>
      </behaviorExtensions>
    </extensions>
    
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" receiveTimeout="infinite">
          <reliableSession enabled="true" inactivityTimeout="01:00:00" ordered="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="soapBehavior">
          <soapBehaviorExtension/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
