div.search 
{
    margin-top: 10px;
    max-width: 1000px;
    text-align: center;
}
    
div.search div#loader 
{
    margin-top: 70px;
    text-align: center;
}
    
div.search div.result 
{
    float: left;
    height: 150px;
    width: 175px;
    text-align: center;
}