[Bb]in
[Oo]bj
*.suo
*.user
*.log
[Tt]humbs.db
*.resharper
*~
*.vssscc
[Dd]ebug
[Rr]elease
!Config/Debug
!Config/Release
Libraries/Streaming/vlc*/plugins/*.dat
Libraries/MPExtended.Libraries.Service/Properties/GitVersion.cs
