<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product
    Id="5c6ca306-2749-4445-a999-f4fb710d824b"
    UpgradeCode="b2aba63e-2197-4c28-b114-c4b0c49efc7c"
    Name="MPExtended Server Services"
    Language="1033"
    Version="!(bind.FileVersion.MPExtended.Services.StreamingService.dll)"
    Manufacturer="MPExtended">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <!-- TODO: do we really want to disallow downgrades? -->
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="Cannot downgrade, try a reinstallation."/>

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="MPExtended services require Microsoft .NET Framework 4.0 Full Runtime. Please install the .NET Framework and then run this isntaller again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <!-- Directory structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MPExtendedDir" Name="MPExtended">
          <Directory Id="InstallDirectory" Name="Client Service">
            <Directory Id="FFMpegDir" Name="FFMpeg">

              <Component Id="FFMpegBinaries" Guid="a35fbcbb-c000-45d3-9a4c-c772db10ee8e">
                <File Source="$(var.SolutionDir)\Libraries\Streaming\ffmpeg.exe" />
              </Component>

            </Directory>

            <Component Id="ServiceBinaries" Guid="8dba1ffb-242c-4517-a3f6-f5c43b845b99">
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.ServiceHosts.Server.exe" KeyPath="yes" Id="MainService" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.ServiceHosts.Server.exe.config" />

              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.Services.TVAccessService.Interfaces.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.Services.TVAccessService.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.Services.StreamingService.Interfaces.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.Services.StreamingService.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.Services.MediaAccessService.Interfaces.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MPExtended.Libraries.ServiceLib.dll" />

              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\NLog.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\MediaInfo.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\NLog.config" />

              <!-- TODO: Do we want to install debugging information? -->

              <!-- Service -->
              <ServiceInstall
                Id="InstallService"
                Type="ownProcess"
                Vital="yes"
                Name="MPExtended Server Service"
                DisplayName="MPExtended Server Service"
                Description="Offers remote access to MediaPortal TV Server"
                Start="auto"
                ErrorControl="ignore"
                Interactive="no"
                Account="LocalSystem">
              </ServiceInstall>
              <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="MPExtended Server Service" Wait="yes" />

              <!-- Add firewall exception -->
              <fire:FirewallException IgnoreFailure="yes" Id="FirewallException" Name="MPExtended Server Service" Scope="localSubnet" Protocol="tcp" Program="[#MainService]"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="OurAppDataFolder" Name="MPExtended">
          <Component Id="AppDataConfig" Guid="6a3f3fb7-81d4-48db-85cd-96677df6834a">
            <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\Services.xml" />
            <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\Streaming.xml" />
            <File Source="$(var.MPExtended.ServiceHosts.Server.TargetDir)\TVAccess.xml" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="MPExtended.ServiceSetups.Server" Level="1">
      <ComponentRef Id="ServiceBinaries" />
      <ComponentRef Id="FFMpegBinaries" />
      <ComponentRef Id="AppDataConfig" />
    </Feature>
  </Product>
</Wix>