<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="passwordBehavior" name="MPExtended.Services.MediaAccessService.MediaAccessService">
        <endpoint name="NetPipeEndpoint"  address=""     binding="netNamedPipeBinding" contract="MPExtended.Services.MediaAccessService.Interfaces.IMediaAccessService" bindingConfiguration="general" behaviorConfiguration="soapBehavior" />
        <endpoint name="SoapEndpoint"     address=""     binding="basicHttpBinding"    contract="MPExtended.Services.MediaAccessService.Interfaces.IMediaAccessService" bindingConfiguration="general" behaviorConfiguration="soapBehavior" />
        <endpoint name="JsonEndpoint"     address="json" binding="webHttpBinding"      contract="MPExtended.Services.MediaAccessService.Interfaces.IMediaAccessService" bindingConfiguration="general" behaviorConfiguration="jsonBehavior" />
        <endpoint name="MetadataEndpoint" address="mex"  binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="passwordBehavior" name="MPExtended.Services.StreamingService.StreamingService">
        <endpoint name="NetPipeEndpoint"  address=""       binding="netNamedPipeBinding" contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="general"   behaviorConfiguration="soapBehavior" />
        <endpoint name="NetPipeEndpoint"  address=""       binding="netNamedPipeBinding" contract="MPExtended.Services.StreamingService.Interfaces.IStreamingService"    bindingConfiguration="general"   behaviorConfiguration="soapBehavior" />
        <endpoint name="SoapEndpoint"     address=""       binding="basicHttpBinding"    contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="general"   behaviorConfiguration="soapBehavior" />
        <endpoint name="JsonEndpoint"     address="json"   binding="webHttpBinding"      contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="general"   behaviorConfiguration="jsonBehavior" />
        <endpoint name="StreamEndpoint"   address="stream" binding="webHttpBinding"      contract="MPExtended.Services.StreamingService.Interfaces.IStreamingService"    bindingConfiguration="streaming" behaviorConfiguration="jsonBehavior" />
        <endpoint name="MetadataEndpoint" address="mex"    binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="passwordBehavior" name="MPExtended.Services.UserSessionService.UserSessionProxyService">
        <endpoint name="NetPipeEndpoint"  address=""     binding="netNamedPipeBinding" contract="MPExtended.Services.UserSessionService.Interfaces.IUserSessionService" bindingConfiguration="general" behaviorConfiguration="soapBehavior" />
        <endpoint name="SoapEndpoint"     address=""     binding="basicHttpBinding"    contract="MPExtended.Services.UserSessionService.Interfaces.IUserSessionService" bindingConfiguration="general" behaviorConfiguration="soapBehavior" />
        <endpoint name="JsonEndpoint"     address="json" binding="webHttpBinding"      contract="MPExtended.Services.UserSessionService.Interfaces.IUserSessionService" bindingConfiguration="general" behaviorConfiguration="jsonBehavior" />
        <endpoint name="MetadataEndpoint" address="mex"  binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="passwordBehavior" name="MPExtended.Services.TVAccessService.TVAccessService">
        <endpoint name="NetPipeEndpoint"  address=""     binding="netNamedPipeBinding" contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService" bindingConfiguration="general" behaviorConfiguration="soapBehavior" />
        <endpoint name="SoapEndpoint"     address=""     binding="basicHttpBinding"    contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService" bindingConfiguration="general" behaviorConfiguration="soapBehavior" />
        <endpoint name="JsonEndpoint"     address="json" binding="webHttpBinding"      contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService" bindingConfiguration="general" behaviorConfiguration="jsonBehavior" />
        <endpoint name="MetadataEndpoint" address="mex"  binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="publicBehavior" name="MPExtended.Services.MetaService.WCFMetaService">
        <endpoint name="UnauthorizedNetPipeEndpoint"  address=""     binding="netNamedPipeBinding" contract="MPExtended.Services.MetaService.Interfaces.IMetaService" bindingConfiguration="unauthenticated" behaviorConfiguration="soapBehavior" />
        <endpoint name="UnauthorizedSoapEndpoint"     address=""     binding="basicHttpBinding"    contract="MPExtended.Services.MetaService.Interfaces.IMetaService" bindingConfiguration="unauthenticated" behaviorConfiguration="soapBehavior" />
        <endpoint name="UnauthorizedJsonEndpoint"     address="json" binding="webHttpBinding"      contract="MPExtended.Services.MetaService.Interfaces.IMetaService" bindingConfiguration="unauthenticated" behaviorConfiguration="jsonBehavior" />
        <endpoint name="UnauthorizedMetadataEndpoint" address="mex"  binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>
    </services>
    
    <extensions>
      <behaviorExtensions>
        <add name="webBehaviorExtension" type="MPExtended.Libraries.Service.WebBehavior, MPExtended.Libraries.Service"/>
        <add name="soapBehaviorExtension" type="MPExtended.Libraries.Service.SoapBehavior, MPExtended.Libraries.Service"/>
      </behaviorExtensions>
    </extensions>
    
    <bindings>
      <netNamedPipeBinding>
        <binding name="general" receiveTimeout="infinite" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="unauthenticated" receiveTimeout="infinite" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="streaming" sendTimeout="infinite" openTimeout="infinite" receiveTimeout="infinite" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </netNamedPipeBinding>
      <webHttpBinding>
        <binding name="general" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="unauthenticated" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="streaming" sendTimeout="00:40:00" openTimeout="00:40:00" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="general" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="unauthenticated" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="streaming" sendTimeout="00:40:00" openTimeout="00:40:00" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="passwordBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MPExtended.Libraries.Service.WcfUsernameValidator, MPExtended.Libraries.Service"/>
          </serviceCredentials>
        </behavior>

        <behavior name="publicBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webBehaviorExtension/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="soapBehavior">
          <soapBehaviorExtension/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <!-- Uncomment this to enable WCF tracing
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\ProgramData\MPExtended\wcftrace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
