@model MPExtended.Services.MediaAccessService.Interfaces.Music.WebMusicTrackBasic
@{
    ViewBag.Title = "Listen";
}
<h2>Play</h2>
You are listening to <strong>@Model.Title</strong> by <strong>@Model.ShortedAlbumArtist</strong>
@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Applications.WebMediaPortal.Models.StreamMedia.Music,
      itemId = @Model.Id,
      showVideo = false
  });
}