<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="publicBehavior" name="MPExtended.Services.MediaAccessService.MediaAccessService">
        <endpoint name="NetPipeEndpoint"  address=""     binding="netNamedPipeBinding" contract="MPExtended.Services.MediaAccessService.Interfaces.IMediaAccessService" bindingConfiguration="pipeBinding" />
        <endpoint name="SoapEndpoint"     address=""     binding="basicHttpBinding"    contract="MPExtended.Services.MediaAccessService.Interfaces.IMediaAccessService" bindingConfiguration="general" />
        <endpoint name="JsonEndpoint"     address="json" binding="webHttpBinding"      contract="MPExtended.Services.MediaAccessService.Interfaces.IMediaAccessService" bindingConfiguration="general" behaviorConfiguration="jsonBehavior"/>
        <endpoint name="MetadataEndpoint" address="mex"  binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="publicBehavior" name="MPExtended.Services.StreamingService.StreamingService">
        <endpoint name="NetPipeEndpoint"  address=""       binding="netNamedPipeBinding" contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="pipeBinding" />
        <endpoint name="NetPipeEndpoint"  address=""       binding="netNamedPipeBinding" contract="MPExtended.Services.StreamingService.Interfaces.IStreamingService"    bindingConfiguration="pipeBinding" />
        <endpoint name="SoapEndpoint"     address=""       binding="basicHttpBinding"    contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="general" />
        <endpoint name="JsonEndpoint"     address="json"   binding="webHttpBinding"      contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="general"  behaviorConfiguration="jsonBehavior"/>
        <endpoint name="StreamEndpoint"   address="stream" binding="webHttpBinding"      contract="MPExtended.Services.StreamingService.Interfaces.IStreamingService"    bindingConfiguration="streaming" behaviorConfiguration="jsonBehavior"/>
        <endpoint name="MetadataEndpoint" address="mex"    binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="publicBehavior" name="MPExtended.Services.UserSessionService.UserSessionProxyService">
        <endpoint name="NetPipeEndpoint"  address=""     binding="netNamedPipeBinding" contract="MPExtended.Services.UserSessionService.Interfaces.IUserSessionService" bindingConfiguration="pipeBinding" />
        <endpoint name="SoapEndpoint"     address=""     binding="basicHttpBinding"    contract="MPExtended.Services.UserSessionService.Interfaces.IUserSessionService" bindingConfiguration="general" />
        <endpoint name="JsonEndpoint"     address="json" binding="webHttpBinding"      contract="MPExtended.Services.UserSessionService.Interfaces.IUserSessionService" bindingConfiguration="general" behaviorConfiguration="jsonBehavior"/>
        <endpoint name="MetadataEndpoint" address="mex"  binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="publicBehavior" name="MPExtended.Services.TVAccessService.TVAccessService">
        <endpoint name="NetPipeEndpoint"  address=""     binding="netNamedPipeBinding" contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService" bindingConfiguration="pipeBinding" />
        <endpoint name="SoapEndpoint"     address=""     binding="basicHttpBinding"    contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService" bindingConfiguration="general" />
        <endpoint name="JsonEndpoint"     address="json" binding="webHttpBinding"      contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService" bindingConfiguration="general" behaviorConfiguration="jsonBehavior"/>
        <endpoint name="MetadataEndpoint" address="mex"  binding="mexHttpBinding"      contract="IMetadataExchange"/>
      </service>
    </services>
    
    <extensions>
      <behaviorExtensions>
        <add name="webHttpWithCustomExceptionHandling" type="MPExtended.Libraries.ServiceLib.WebHttpWithCustomExceptionHandlingBehavior, MPExtended.Libraries.ServiceLib"/>
      </behaviorExtensions>
    </extensions>
    
    <bindings>
      <netNamedPipeBinding>
        <binding name="pipeBinding" receiveTimeout="infinite"></binding>
      </netNamedPipeBinding>
      <webHttpBinding>
        <binding name="general" sendTimeout="00:15:00" transferMode="Buffered">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="streaming" sendTimeout="00:40:00" openTimeout="00:40:00" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="general" sendTimeout="00:15:00" transferMode="Buffered">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="streaming" sendTimeout="00:40:00" openTimeout="00:40:00" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="publicBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MPExtended.Libraries.ServiceLib.WcfUsernameValidator, MPExtended.Libraries.ServiceLib"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttpWithCustomExceptionHandling/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
