<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="MPExtended.Services.UserSessionService.UserSessionService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9750/MPExtended/UserSessionServiceImplementation"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="MPExtended.Services.UserSessionService.Interfaces.IUserSessionService"/>
       </service>
    </services>
    
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" receiveTimeout="infinite">
          <reliableSession enabled="true" inactivityTimeout="01:00:00" ordered="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
