@model MPExtended.Applications.WebMediaPortal.Models.AddScheduleViewModel
@{
    ViewBag.Title = "Add schedule";
}
<h2>Add schedule</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <table>
        <tr>
            <td>Program</td>
            <td>@Model.ProgramTitle</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>@Html.DropDownList("type", Model.Types)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table>
}