<div id="subheader">        
        <ul id="subnavlist">
     
             <li>@Html.ActionLink("TV Guide","TVGuide")</li>     
                    <li>@Html.ActionLink("Recordings","Recordings")</li>
        </ul>
    </div>