@model IEnumerable<MPExtended.Services.TVAccessService.Interfaces.WebRecordingBasic>
@{
    ViewBag.Title = UIStrings.Recordings;
}

<h2>@UIStrings.YourRecordings</h2>

<ul class="list">
    @foreach (var recording in Model)
    {
        <li>@Html.ActionLink(recording.Title + " (" + recording.StartTime.ToShortDateString() + ")", "Recording", new { id = recording.Id })</li>
    }
</ul>

