@model MPExtended.Services.TVAccessService.Interfaces.WebRecordingBasic
@{
    ViewBag.Title = "Recording";
}

<h2>@Model.Title</h2>
<ul>
<li>Recorded on: @Model.StartTime.ToShortDateString()</li>
<li>@Html.ActionLink("Watch", "WatchRecording", new { id = Model.Id })</li>
</ul>