@model MPExtended.Services.TVAccessService.Interfaces.WebScheduleBasic

@{
    ViewBag.Title = "ScheduleDetails";
}
<h2>@Model.ProgramName </h2>

<div class="TVProgramSchedule">
    @Html.ActionLink("Cancel", "DeleteScheduleById", "Television", new { scheduleId = @Model.Id })
</div>
