@model IEnumerable<MPExtended.Services.TVAccessService.Interfaces.WebChannelBasic>
@{
    ViewBag.Title = "TV Guide";
}
@{Html.RenderAction("Menu", "Television");}

<div id="TVGuidePrograms">
    @{ if (@Model != null)
       {
           foreach (var channel in @Model)
           {
               <div class="TVGuideRow">
                   <div class="TVGuideCellChannel">
                       <a href="@Url.Action("WatchLiveTV", new { channelId = channel.Id })" style="display: inline-block; height: 100%; width: 100%; text-decoration: none;">
                           <span id="lblChannelName" class="TVGuideCellChannelText">@channel.DisplayName</span>
                       </a>
                   </div>
                   <div class="TVGuideProgramsPanel">
                       @{Html.RenderAction("ProgramData","Television",new { channelid = channel.Id}); }
                   </div>
               </div>
               <div class="TVGuideStandardSpacing">
               </div>
           }
       }
    }
</div>
