@model MPExtended.Services.TVAccessService.Interfaces.WebChannelDetailed
@{
    var ProgramTitle = Model.CurrentProgram != null ? Model.CurrentProgram.Title : UIStrings.Unknown;
    ViewBag.Title = String.Format(UIStrings.WatchingProgram, ProgramTitle, Model.DisplayName);
}

<h2>@UIStrings.LiveTV</h2>
@Html.Raw(String.Format(UIStrings.YouAreWatchingProgram, ProgramTitle, Model.DisplayName));
<br />
<br />

<div>
@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.Common.Interfaces.WebMediaType.TV,
      itemId = @Model.Id
  });
}
</div>
