@model MPExtended.Services.TVAccessService.Interfaces.WebRecordingBasic
@{
    ViewBag.Title = String.Format(UIStrings.WatchingRecording, Model.Title);
}

<h2>@UIStrings.Play</h2>
@Html.Raw(String.Format(UIStrings.YouAreWatchingRecording, Model.Title))
<br />
<br />

<div>
@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.StreamingService.Interfaces.WebStreamMediaType.Recording,
      itemId = @Model.Id
  });
}
</div>
