@model MPExtended.Services.TVAccessService.Interfaces.WebRecordingBasic

@{
    ViewBag.Title = "Recording";
}

<div>
    You are watching: <strong>@Model.Title</strong>
</div>

<div>
@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.StreamingService.Interfaces.WebStreamMediaType.Recording,
      itemId = @Model.Id
  });}
</div>
