@using MPExtended.Services.TVAccessService.Interfaces;
@model WebChannelDetailed
@{
    ViewBag.Title = "Live TV";
    var CurrentProgram = "No Title";
}

<div>
    You are watching: <strong>@{if(Model.CurrentProgram != null){ @Model.CurrentProgram.Title}
                                else {@CurrentProgram}}</strong> on <strong>@Model.DisplayName</strong>
</div>

<div>
@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.StreamingService.Interfaces.WebStreamMediaType.TV,
      itemId = @Model.Id
  });}
</div>
