@model IEnumerable<MPExtended.Applications.WebMediaPortal.Models.ScheduleViewModel>

@if (@Model != null && @Model.Count(p => p.Title != "") > 0)
{
    <h2>Today's schedules</h2>
    <div>
        <ul>
            @foreach (var schedule in Model)
            {
                <li>@schedule.Title - @schedule.StartTime.Value.ToShortTimeString() - @schedule.EndTime.Value.ToShortTimeString()</li>       
            }
        </ul>
    </div>
} 
