@model HomeViewModel

@if (Model.Availability.TAS && Model.GetTodaysSchedules().Count() > 0)
{
    <h2>@UIStrings.TodaysSchedules</h2>
    <div>
        <ul>
            @foreach (var schedule in Model.GetTodaysSchedules())
            {
                <li>@schedule.ProgramName - @schedule.StartTime.ToShortTimeString() - @schedule.EndTime.ToShortTimeString()</li>       
            }
        </ul>
    </div>
} 
