.item
{
    margin-top: 15px;
}

.dotted-line 
{
    border-top: 1px dotted #8A8575; 
    width: 675px; 
    margin-bottom: 10px;
}

.row
{
    max-width: 150px;
}

.column
{
    text-align: center;
    margin: 0 25px 8px 0;
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
}

.img
{
    max-width: 150px;
}

/* Add some spaces between the rows... */
.row a
{
    display: block;
    min-height: 45px;
}

/* ...but not on the homepage */
.home .row a
{
    display: inline;
}