@{
    ViewBag.Title = "Index";
    ViewBag.Styles.Add("~/Views/Home/Home.css");
}

<h3>Welcome</h3>

<style type='text/css'>
.item
{
    margin-top: 15px;
}

br.noFloat
{
    clear: both;
}

.row
{
    max-width: 150px;
}

.column
{
    float: left;
    margin-right: 25px;
    max-width: 150px;
    display: inline;
}

.img
{
    max-width: 150px;
}
</style>

<div>
    <div class="item">
        @{if(ViewBag.Availability.Movies) { Html.RenderAction("NewMovies", "Home"); }}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{if(ViewBag.Availability.TVShows) { Html.RenderAction("NewEpisodes", "Home"); }}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{if(ViewBag.Availability.TAS) { Html.RenderAction("NewRecordings", "Home"); }}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{if(ViewBag.Availability.TAS) { Html.RenderAction("CurrentSchedules", "Home"); }}
    </div>
</div>
