@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .item
    {
        margin-top: 15px;
    }
    br.noFloat
    {
        clear: both;
    }
    .row
    {
        max-width: 150px;
    }
    .column
    {
        float: left;
        margin-right: 25px;
        max-width: 150px;
        display: inline;
    }
    .img
    {
        max-width: 150px;
    }
</style>
<h3>
    Welcome</h3>
<div>
    <div class="item">
        @{Html.RenderAction("NewMovies", "Home");}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{Html.RenderAction("NewEpisodes", "Home");}
    </div>
        <br class="noFloat" />
    <div class="item">
        @{Html.RenderAction("NewRecordings", "Home");}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{Html.RenderAction("CurrentSchedules", "Home");}
    </div>
</div>
