@{
    ViewBag.Title = "Index";
    ViewBag.Styles.Add("~/Views/Home/Home.css");
}

<h3>Welcome</h3>

<div>
    <div class="item">
        @{if(ViewBag.Availability.Movies) { Html.RenderAction("NewMovies", "Home"); }}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{if(ViewBag.Availability.TVShows) { Html.RenderAction("NewEpisodes", "Home"); }}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{if(ViewBag.Availability.TAS) { Html.RenderAction("NewRecordings", "Home"); }}
    </div>
    <br class="noFloat" />
    <div class="item">
        @{if(ViewBag.Availability.TAS) { Html.RenderAction("CurrentSchedules", "Home"); }}
    </div>
</div>
