.item
{
    margin-top: 15px;
}

br.noFloat
{
    clear: both;
}

.row
{
    max-width: 150px;
}

.column
{
    float: left;
    margin-right: 25px;
    max-width: 150px;
    display: inline;
}

.img
{
    max-width: 150px;
}