@model HomeViewModel

@if (Model.Availability.TVShows)
{
    <h2>@UIStrings.LatestEpisodes</h2>
    <div>
        @foreach (var episode in Model.GetLastAiredTVEpisodes())
        {
            <div class="column">
                <div class="row">
                    @Html.ActionLink(episode.Show + " - " + episode.SeasonNumber + "x" + episode.EpisodeNumber, 
                        "Details", "TVShowsLibrary", new { episode = episode.Id }, null)
                </div>
                <div class="row">
                    <img class="img" src="@Url.Action("EpisodeImage", "TVShowsLibrary", new { episode = episode.Id, width = 150 })" alt="" />
                </div>
            </div>
        }
    </div>
}
