@model MPExtended.Applications.WebMediaPortal.Models.HomeViewModel

@if (Model.Availability.Movies)
{
    <h2>@UIStrings.LatestMovies</h2>
    <div>
        @foreach (var movie in Model.GetLastAddedMovies())
        {
            <div class="column">
                <div class="row">
                    @Html.ActionLink(movie.Title, "Details", "MovieLibrary", new { movie = movie.Id }, null)
                </div>
                <div class="row">
                    <img class="img" src="@Url.Action("Image", "MovieLibrary", new { movie = movie.Id, width = 150 })" alt="" />
                </div>
            </div>
        }
    </div>
}
