@model HomeViewModel

@if (Model.Availability.Music)
{
    <h2>@UIStrings.LatestTracks</h2>
    <div>
        @foreach (var track in Model.GetLastAddedMusicTracks())
        {
            <div class="column">
                <div class="row">
                    <a href="@Url.Action("Track", "MusicLibrary", new { track = track.Track.Id })">
                        @track.Track.Title
                    </a>
                </div>
                <div class="row">
                    <img class="img" src="@Url.Action("Track", "MusicLibrary", new { track = track.Track.Id, width = 150 })" alt="" />
                </div>
            </div>
        }
    </div>
}
