@model IEnumerable<MPExtended.Services.TVAccessService.Interfaces.WebRecordingBasic>
@{
    ViewBag.Title = "NewRecordings";
}

@{
    if (@Model != null && @Model.Count(p => p.Title != "") > 0)
    {
    <h2>
        Latest Recordings</h2>
    <div class="column">
        <ul>
            @foreach (var recording in Model)
            {
                <li>@recording.Title</li>       
            }
        </ul>
    </div>
    }
}