@model HomeViewModel

@if (Model.Availability.TAS)
{
    <h2>@UIStrings.LatestRecordings</h2>
    <ul>
        @foreach (var recording in Model.GetLastRecordings())
        {
            <li>@Html.ActionLink(recording.Title + " (" + recording.StartTime.ToShortDateString() + ")", "Recording", "Television", new { id = recording.Id }, new { })</li>
        }
    </ul>
}