<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="System.Web.StaticFileHandler" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="ContentHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
</configuration>
