@model AlbumViewModel
@{
    ViewBag.Title = String.Format(UIStrings.AlbumBy, Model.Album.Title, Model.Album.AlbumArtist);
}

<h2>@String.Format(UIStrings.AlbumBy, Model.Album.Title, Model.Album.AlbumArtist)</h2>

<ul>
@foreach (var track in Model.Tracks)
{
    <li>@Html.ActionLink(track.Title, "Track", new { track = track.Id })</li>
}
</ul>