@model MPExtended.Applications.WebMediaPortal.Models.ArtistViewModel
@{
	ViewBag.Title = Model.Artist.Title;
}

<h3>@String.Format(UIStrings.AlbumsFromArtist, Model.Artist.Title)</h3>

<ul>
    @foreach (var album in Model.Albums)
    {
          <li> @Html.ActionLink(album.Title, "Album", new { album = album.Id }) </li>     
    }
</ul>
