@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.Music.WebMusicArtistBasic>
@{
	ViewBag.Title = UIStrings.Music;
}

@section HeadHtml {
    <link type="text/css" rel="stylesheet" href="@Url.ViewContent("MusicLibrary/Index.css")" />
}

<h2>@UIStrings.YourArtists</h2>
<ul class="artistList">
    @if (Model != null)
    {
        foreach (var artist in Model)
        {
            <li>@Html.ActionLink(artist.Title, "Albums", new { artist = artist.Id })</li>
        }
    }
</ul>
