@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.Music.WebMusicArtistDetailed>
@{
	ViewBag.Title = UIStrings.Music;
}

<h2>@UIStrings.YourArtists</h2>

<ul class="list">
    @if (Model != null)
    {
        foreach (var artist in Model)
        {
            <li>@Html.ActionLink(artist.Title, "Albums", new { artist = artist.Id })</li>
        }
    }
</ul>
