@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.Music.WebMusicArtistDetailed>
@{
	ViewBag.Title = UIStrings.Music;
}

<h2>@UIStrings.YourArtists</h2>

<div>
    @foreach (var artist in Model)
    {
        <div id="MusicBox" style="padding: 10px 10px 20px 10px; float: left; height: 200px;">
            <div>
                <a href="@Url.Action("Albums", new { artist = artist.Id })">
                    <img class="img" height="150" width="150" src="@Url.Action("ArtistImage", "MusicLibrary", new { artist = artist.Id, width = 150 })" alt="No image" /> 
                </a>
            </div>
            <div id="musicText" style="padding-top: 5px; overflow: hidden; width: 150px; text-align: center;">
                @Html.ActionLink(artist.Title, "Albums", new { artist = artist.Id })
            </div>
        </div>
    }
</div>
