@model MPExtended.Services.MediaAccessService.Interfaces.Music.WebMusicTrackBasic
@{
    ViewBag.Title = "Listen";
}

<h2>Listen</h2>
You are listening to <strong>@Model.Title</strong> by <strong>@Model.Artist.First()</strong>
<br />
<br />

@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.StreamingService.Interfaces.WebStreamMediaType.MusicTrack,
      itemId = @Model.Id,
      video = false
  });
}