@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.Music.WebMusicTrackBasic>

@{
    ViewBag.Title = "Tracks";
}
<style type="text/css">
    .column
    {
        float: left;
        margin-right: 10px;
        
    }
    .img
    {
        max-width: 300px
        }
</style>

<h3>Browse Tracks</h3>
<div class="column">
<img class="img" src="@Url.Action("AlbumImage", new { id = Model.ElementAt(0).AlbumId })" alt="" />
</div>
<div class="column">
    <ul>
    @foreach (var track in Model)
    {
        <li>@Html.ActionLink(@track.Title, "Play", new { track = @track.Id })</li>      
    }
    </ul>
</div>


