<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appVendor" value="MPExtended" />
    <variable name="appTitle" value="ConsoleHost" />
    <variable name="logSource" value="${appVendor}.${appTitle}" />
    <variable name="logFilePath" value="${specialfolder:CommonApplicationData}/${appVendor}/Logs/${appTitle}.log"/>
    <variable name="exceptionNewline" value="${onexception:${newline}${exception:format=ToString}}"/>

    <targets async="true">
      <target name="fileExtendedInfo" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace})${exceptionNewline}"/>
      <target name="fileBasicInfo" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message} ${exceptionNewline}"/>
      <target xsi:type="Console" name="consoleLog" layout="${message} ${exceptionNewline}" />
      <target xsi:type="EventLog" name="eventLog" source="${logSource}" layout="${message} ${exceptionNewline}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="fileBasicInfo"/>
      <logger name="*" minlevel="Warn" writeTo="fileExtendedInfo"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
      <logger name="*" minlevel="Trace" writeTo="consoleLog" />
    </rules>
  </nlog>
</configuration>