@model TVSeasonViewModel
@{
    var header = Model.Season.SeasonNumber == 0 ? 
        String.Format("{0} {1}", Model.Show.Title, UIStrings.Specials) : 
        String.Format(UIStrings.ShowSeason, Model.Show.Title, Model.Season.SeasonNumber);
    ViewBag.Title = header;    
}

<h2>@header</h2>

<div class="imageColumn">
    <img src="@Url.Action("SeasonImage", new { season = @Model.Season.Id, width = 500 })" width="500" alt="No image" />
</div>

<div class="listColumn">
    <ul>
        @foreach (var episode in Model.Episodes)
        {
            <li>@Html.ActionLink(String.Format(UIStrings.EpisodeDisplay, episode.EpisodeNumber, episode.Title), "Details", new { episode = episode.Id })</li>   
        }
    </ul>
</div>

