@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.TVShow.WebTVEpisodeBasic>
@{
    ViewBag.Title = "Episodes";
}
<style type="text/css">
    .column
    {
        float: left;
        margin-right: 10px;
    }
    .img
    {
        max-width: 300px;
    }
</style>
<h2>
    Episodes</h2>
<div class="column">
    <img class="img" src="@Url.Action("Image", new { season = @Model.ElementAt(0).SeasonId })" alt="" />
</div>
<div class="column">
    <ul>
        @foreach (var episode in Model)
        {
           
            <li>@Html.ActionLink("Episode " + episode.EpisodeNumber + " - " + episode.Title, "Details", new { episode = episode.Id })
            </li>
            
        }
    </ul>
</div>

