@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.TVShow.WebTVShowBasic>
@{
	ViewBag.Title = UIStrings.TVShows;
}

<h2>@UIStrings.YourTVShows</h2>

<ul>
    @foreach (var show in Model)
    {
        <li>@Html.ActionLink(show.Title, "Seasons", new { show = show.Id })</li>       
    }
</ul>