@model TVEpisodeViewModel
@{
    ViewBag.Title = String.Format(UIStrings.WatchingEpisode, Model.Episode.Title, Model.Show.Title);
}

<h2>@UIStrings.Play</h2>
@Html.Raw(String.Format(UIStrings.YouAreWatchingEpisode, Model.Show.Title, Model.Season.SeasonNumber, Model.Episode.EpisodeNumber, Model.Episode.Title))
<br /><br />

@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.Common.Interfaces.WebMediaType.TVEpisode,
      itemId = @Model.Episode.Id
  });
}