@model MPExtended.Applications.WebMediaPortal.Models.TVShowViewModel
@{
	ViewBag.Title = Model.Show.Title;
}

<h2>@Model.Show.Title</h2>

<div class="imageColumn extended">
    <img src="@Url.Action("SeriesPoster", new { show = Model.Show.Id, width = 500 })" alt="" />
</div>

<div class="listColumn">
    <ul>
        @foreach (var season in Model.Seasons)
        {
            if (!season.SeasonNumber.Equals(0))
            {
                <li>@Html.ActionLink(String.Format(UIStrings.Season, season.SeasonNumber), "Episodes", new { season = season.Id })</li>
            }
        }
    </ul>
</div>
