@model MPExtended.Applications.WebMediaPortal.Models.TVShowViewModel
@{
	ViewBag.Title = Model.Show.Title;
}

@section HeadHtml {
    <link type="text/css" rel="stylesheet" href="@Url.ViewContent("TVShowsLibrary/TVShows.css")" />
}

<h2>@Model.Show.Title</h2>

<div class="seasonColumn">
    <img class="img" src="@Url.Action("SeriesFanart", new { show = Model.Show.Id })" alt="" />
</div>

<div class="seasonColumn">
    <ul>
        @foreach (var season in Model.Seasons)
        {
            if (!season.SeasonNumber.Equals(0))
            {
                <li>@Html.ActionLink(String.Format(UIStrings.Season, season.SeasonNumber), "Episodes", new { season = season.Id })</li>
            }
        }
    </ul>
</div>
