@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.TVShow.WebTVSeasonBasic>
@{
    ViewBag.Title = "Seasons";
}
<style type="text/css">
    .column
    {
        float: left;
        margin-right: 100px;
    }
    .img
    {
        max-width: 700px;
    }
</style>

<h2>Seasons</h2>

<div class="column">
    @if (Model.Count() > 0)
    {   
        <img class="img" src="@Url.Action("SeriesFanart", new { show = @Model.ElementAt(0).ShowId })" alt="" />
    }
</div>

<div class="column">
    <ul>
        @foreach (var season in Model)
        {
            if (!season.SeasonNumber.Equals(0))
            {
                <li>@Html.ActionLink("Season " + season.SeasonNumber, "Episodes", new { season = season.Id })</li>
            }
        }
    </ul>
</div>
