<appconfig>
  <config>
    <username>admin</username>
    <password>admin</password>
    <mpconfig>C:\ProgramData\Team MediaPortal\MediaPortal\MediaPortal.xml</mpconfig>
  </config>
  <mpdatabases>
    <database name="videos" filename="C:\ProgramData\Team MediaPortal\MediaPortal\database\VideoDatabaseV5.db3" />
    <database name="music" filename="C:\ProgramData\Team MediaPortal\MediaPortal\database\MusicDatabaseV12.db3" />
    <database name="pictures" filename="C:\ProgramData\Team MediaPortal\MediaPortal\database\PictureDatabase.db3" />
    <database name="tvseries" filename="C:\ProgramData\Team MediaPortal\MediaPortal\database\TVSeriesDatabase4.db3" />
    <database name="movingpictures" filename="C:\ProgramData\Team MediaPortal\MediaPortal\database\movingpictures.db3" />
    <database name="shares" filename="C:\ProgramData\Team MediaPortal\MediaPortal\database\FolderDatabase3.db3" />
  </mpdatabases>
  <thumbpaths>
    <thumb name="tv" path="C:\ProgramData\Team MediaPortal\MediaPortal\thumbs\tv\logos" virtualpath="/banners/tv/"/>
    <thumb name="radio" path="C:\ProgramData\Team MediaPortal\MediaPortal\thumbs\radio\logos" virtualpath="/banners/radio/"/>
    <thumb name="pictures" path="c:\ProgramData\Team MediaPortal\MediaPortal\thumbs\Pictures" virtualpath="/banners/pictures"/>
    <thumb name="movingpictures" path="C:\ProgramData\Team MediaPortal\MediaPortal\Thumbs\MovingPictures" virtualpath="/banners/movingpictures/"/>
    <thumb name="tvseries" path="C:\ProgramData\Team MediaPortal\MediaPortal\thumbs\MPTVSeriesBanners" virtualpath="/banners/tvseries/"/>
    <thumb name="fanart" path="C:\ProgramData\Team MediaPortal\MediaPortal\thumbs\Fan Art" virtualpath="/banners/fanart/"/>
    <thumb name="videos" path="C:\ProgramData\Team MediaPortal\MediaPortal\thumbs\Videos" virtualpath="/banners/videos/"/>
    <thumb name="music" path="C:\ProgramData\Team MediaPortal\MediaPortal\thumbs\Music" virtualpath="/banners/music/"/>
    <thumb name="thumbnails" path="C:\Program Files (x86)\iPiMP\Aspx\WebServiceThumbs" virtualpath="/WebServiceThumbs/"/>
  </thumbpaths>
  <transcoders>
    <transcoder>
      <name>Pre-Conversion</name>
      <description>This profile is used for pre-conversion of videos that don't support partial copying (e.g. mkv). DO NOT DELETE THIS!</description>
      <bandwidth>0</bandwidth>
      <target>internal</target>
      <useTranscoding>true</useTranscoding>
      <inputMethod>Path</inputMethod>
      <outputMethod>Path</outputMethod>
      <mime>video/MP2T</mime>
      <transcoder>FFMpeg\ffmpeg.exe</transcoder>
      <codecParameters>-vcodec copy -acodec copy -vbsf h264_mp4toannexb</codecParameters>
      <maxOutputWidth>800</maxOutputWidth>
      <maxOutputHeight>600</maxOutputHeight>
    </transcoder>
    <transcoder>
      <name>Partial-Copy-Conversion</name>
      <description>This profile is used for copying parts of a video for files that don't allow fast-seek. DO NOT DELETE THIS!</description>
      <bandwidth>0</bandwidth>
      <target>internal</target>
      <useTranscoding>true</useTranscoding>
      <inputMethod>Path</inputMethod>
      <outputMethod>Path</outputMethod>
      <mime>video/MP2T</mime>
      <transcoder>FFMpeg\ffmpeg.exe</transcoder>
      <codecParameters>-vcodec copy -pix_fmt yuv420p -acodec copy -sn</codecParameters>
      <maxOutputWidth>800</maxOutputWidth>
      <maxOutputHeight>600</maxOutputHeight>
    </transcoder>
    <transcoder>
      <name>Android HQ</name>
      <description>A high quality profile for fast connections and fast CPUs</description>
      <bandwidth>1400</bandwidth>
      <target>android</target>
      <useTranscoding>true</useTranscoding>
      <inputMethod>Path</inputMethod>
      <outputMethod>Path</outputMethod>
      <mime>video/MP2T</mime>
      <transcoder>FFMpeg\ffmpeg.exe</transcoder>
      <codecParameters>-vcodec libx264 -b 1024k -profile baseline -preset fast -acodec aac -ab 256k -ac 2 -strict experimental -f mpegts</codecParameters>
      <maxOutputWidth>800</maxOutputWidth>
      <maxOutputHeight>600</maxOutputHeight>
    </transcoder>
    <transcoder>
      <name>Android Better</name>
      <description>A high quality profile for fast connections.</description>
      <bandwidth>1300</bandwidth>
      <target>android</target>
      <useTranscoding>true</useTranscoding>
      <inputMethod>Path</inputMethod>
      <outputMethod>Path</outputMethod>
      <mime>video/MP2T</mime>
      <transcoder>FFMpeg\ffmpeg.exe</transcoder>
      <codecParameters>-vcodec libx264 -b 768k -profile baseline -preset veryfast -acodec aac -ab 128k -ac 2 -strict experimental -f mpegts</codecParameters>
      <maxOutputWidth>800</maxOutputWidth>
      <maxOutputHeight>600</maxOutputHeight>
    </transcoder>
    <transcoder>
      <name>Android Medium</name>
      <description>A profile that balances quality and bandwidth. For fast network data connections or slow wifi.</description>
      <bandwidth>800</bandwidth>
      <target>android</target>
      <useTranscoding>true</useTranscoding>
      <inputMethod>Path</inputMethod>
      <outputMethod>Path</outputMethod>
      <mime>video/MP2T</mime>
      <transcoder>FFMpeg\ffmpeg.exe</transcoder>
      <codecParameters>-vcodec libx264 -b 512k -profile baseline -preset veryfast -acodec aac -ab 128k -ac 2 -strict experimental -threads 2 -f mpegts</codecParameters>
      <maxOutputWidth>600</maxOutputWidth>
      <maxOutputHeight>400</maxOutputHeight>
    </transcoder>
    <transcoder>
      <name>Android LQ</name>
      <description>A low-quality profile for Android devices with very slow connections</description>
      <bandwidth>380</bandwidth>
      <target>android</target>
      <useTranscoding>true</useTranscoding>
      <inputMethod>Path</inputMethod>
      <outputMethod>Path</outputMethod>
      <mime>video/MP2T</mime>
      <transcoder>FFMpeg\ffmpeg.exe</transcoder>
      <codecParameters>-vcodec libx264 -b 256k -profile baseline -preset veryfast -acodec aac -ab 64k -ac 2 -strict experimental -f mpegts</codecParameters>
      <maxOutputWidth>400</maxOutputWidth>
      <maxOutputHeight>300</maxOutputHeight>
    </transcoder>
  </transcoders>
</appconfig>