@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.Movie.WebMovieBasic>
@{
	ViewBag.Title = UIStrings.Movies;
}

@section HeadHtml {
    <link type="text/css" rel="stylesheet" href="@Url.ViewContent("MovieLibrary/Movies.css")" />
}

<h2>@UIStrings.YourMovies</h2>

<ul class="movieList">
    @foreach (var movie in Model)
    {
        <li>@Html.ActionLink(movie.Title, UIStrings.Details, new { movie = movie.Id })</li>
    }
</ul>
