@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.Movie.WebMovieBasic>
@{
	ViewBag.Title = UIStrings.Movies;
}

<h2>@UIStrings.YourMovies</h2>

<ul class="list">
    @foreach (var movie in Model)
    {
        <li>@Html.ActionLink(movie.Title, UIStrings.Details, new { movie = movie.Id })</li>
    }
</ul>
