.column
{
    float: left;
    margin-right: 10px;
}

.img
{
    max-width: 300px;
}

.column subcolumn
{
    max-width: 500px;
    margin-right: 20px;
}

.movieList
{
    overflow: hidden;
    min-width: 1000px;
}
    
.movieList li
{
    width: 250px;
    float: left;
    margin: 15px;
        
}