@model MovieViewModel
@{
	ViewBag.Title = String.Format(UIStrings.WatchingMovie, Model.Movie.Title);
}

<h2>Play @Model.Movie.Title</h2>

<br />

@{
    Html.RenderAction("Player", "Stream", new
    {
        type = MPExtended.Services.Common.Interfaces.WebMediaType.Movie,
        itemId = @Model.Id
    });
}