@model MPExtended.Services.MediaAccessService.Interfaces.Movie.WebMovieDetailed
@{
	ViewBag.Title = String.Format(UIStrings.WatchingMovie, Model.Title);
}

<h2>@UIStrings.Play</h2>
@Html.Raw(String.Format(UIStrings.YouAreWatchingMovie, Model.Title))
<br /><br />

@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.StreamingService.Interfaces.WebStreamMediaType.Movie,
      itemId = @Model.Id
  });
}