@model MPExtended.Services.MediaAccessService.Interfaces.Movie.WebMovieDetailed
@{
    ViewBag.Title = "Play";
}
<h2>Play</h2>
You are watching <strong>@Model.Title</strong>
@{Html.RenderAction("Player", "Stream", new
  {
      type = MPExtended.Services.StreamingService.Interfaces.WebStreamMediaType.Movie,
      itemId = @Model.Id
  });}