<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ffmpeg" version="2.7.1" targetFramework="net40" />
  <package id="MediaInfo" version="1.0.1" targetFramework="net40" />
  <package id="MetadataExtractor" version="2.4.2" targetFramework="net40" />
  <package id="XmpCore" version="6.1.10" targetFramework="net40" />
</packages>
