<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="UserSessionServiceBehavior" name="MPExtended.Services.UserSessionService.UserSessionService" >
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/MPExtended/UserSessionService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBindingConfiguration" contract="MPExtended.Services.UserSessionService.IUserSessionService"/>
       </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBindingConfiguration" receiveTimeout="infinite"></binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UserSessionServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MPExtended.Libraries.ServiceLib.WcfUsernameValidator, MPExtended.Libraries.ServiceLib"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
