@model IEnumerable<TVEpisodeViewModel>

@if (ViewBag.Availability.TVShows)
{
    <h2>@UIStrings.LatestEpisodes</h2>
    <div>
        @foreach (var episode in Model)
        {
            <div class="column">
                <div class="thumb_wrap">
				    <div class="thumb_title">
                        @Html.ActionLink(episode.Show + " - " + episode.Episode.SeasonNumber + "x" + episode.Episode.EpisodeNumber, "Details", "TVShowsLibrary", new { episode = episode.Id }, null)
                    </div>
                    <a href="@Url.Action("Details", "TVShowsLibrary", new { episode = episode.Id })">
                        <img class="img" src="@Url.Action("EpisodeImage", "TVShowsLibrary", new { episode = episode.Id, width = 222 })" alt="" border="" />
                    </a>
                </div>
            </div>
        }
    </div>
}
