@model IEnumerable<MovieViewModel>

@if (ViewBag.Availability.TVShows)
{
    <h2>@UIStrings.LatestMovies</h2>
    <div>
        @foreach (var movie in Model)
        {
            <div class="column">
                <div class="thumb_wrap">
				    <div class="thumb_title">
                        @Html.ActionLink(movie.Movie.Title, "Details", "MovieLibrary", new { movie = movie.Id }, null)
                    </div>
                    <a href="@Url.Action("Details", "MovieLibrary", new { movie = movie.Id })">
                        <img class="img" src="@Url.Action("Cover", "MovieLibrary", new { movie = movie.Id, width = 222 })" alt="" border="0" />
                    </a>
                </div>
            </div>
        }
    </div>
}
