<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <!--
  Copyright (C) 2011 MPExtended Developers, http://mpextended.codeplex.com/
  
  MPExtended is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.
  
  MPExtended is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with MPExtended. If not, see <http://www.gnu.org/licenses/>.
  -->
  <Product
    Id="fdc7ed25-1683-41f3-9a88-3dcabd2d916d"
    UpgradeCode="21ae5680-f56d-4bb6-8835-87b5081b156d"
    Name="MPExtended Service"
    Language="1033"
    Version="!(bind.FileVersion.MPExtended.Libraries.General.dll)"
    Manufacturer="MPExtended">
    <Package Manufacturer="MPExtended" InstallerVersion="200" Compressed="yes" />

    <!-- Project general -->
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <!-- TODO: do we really want to disallow downgrades? -->
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="Cannot downgrade, try a reinstallation."/>

    <!-- Require .net 4 -->
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="MPExtended services require Microsoft .NET Framework 4.0 Full Runtime. Please install the .NET Framework and then run this isntaller again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MPEXTENDEDDIRECTORY" Name="MPExtended">
          <Directory Id="InstallDirectory" Name="Service">
            <Directory Id="StreamingDirectory" Name="Streaming">
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="ConfigDirectory" Name="MPExtended">
          <Directory Id="LogDirectory" Name="Logs">
            
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <!-- WifiRemote installer (FIXME: not working)
    <Binary Id="WifiRemoteInstallerBin" SourceFile="..\..\Libraries\Installer\WifiRemote.0.4.1_rc1.mpe1" />
    <CustomAction Id="WifiRemoteInstaller" BinaryKey="WifiRemoteInstallerBin" ExeCommand="" Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="WifiRemoteInstaller" Before="InstallFinalize"><![CDATA[(&Feature_WifiRemote=3) AND NOT(!Feature_WifiRemote=3)]]></Custom>
    </InstallExecuteSequence>
    -->

    <!-- Service binaries -->
    <DirectoryRef Id="InstallDirectory">
      <Component Id="Component_Service" Guid="bec0610f-43c4-4a1d-840b-6beeb1259a62">
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\MPExtended.ServiceHosts.CoreService.exe" KeyPath="yes" Id="MainService"/>
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\MPExtended.ServiceHosts.CoreService.exe.config" />
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\NLog.config" />

        <!-- hosting -->
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\MPExtended.ServiceHosts.Hosting.dll" />
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\ZeroconfService.dll" />
        
        <!-- let's just install the consolehost too, for debugging -->
        <File Source="$(var.MPExtended.ServiceHosts.ConsoleHost.TargetDir)\MPExtended.ServiceHosts.ConsoleHost.exe" />
        <File Source="$(var.MPExtended.ServiceHosts.ConsoleHost.TargetDir)\MPExtended.ServiceHosts.ConsoleHost.exe.config" />


        <ServiceInstall
          Id="InstallService"
          Type="ownProcess"
          Vital="yes"
          Name="MPExtended Service"
          DisplayName="MPExtended Service"
          Description="Offers remote access to MediaPortal"
          Start="auto"
          ErrorControl="ignore"
          Interactive="no"
          Account="LocalSystem" />
        <ServiceControl
          Id="StartService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Name="MPExtended Service"
          Wait="yes" />
        <fire:FirewallException
          IgnoreFailure="yes"
          Id="FirewallException"
          Name="MPExtended Service"
          Scope="localSubnet"
          Protocol="tcp"
          Program="[#MainService]" />
      </Component>
    </DirectoryRef>

    <!-- User interface -->
    <UI>
      <!-- Based upon WiX source code. -->
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomSetupTypeDlg">NOT Installed AND NOT PATCH</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Publish Dialog="CustomSetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="ClientButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="TVButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="SingleseatButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="CustomSetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">InstallType = "Custom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomSetupTypeDlg" Order="2">InstallType = "TV" OR InstallType = "Singleseat" OR InstallType = "Client"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
    </UI>
    <UIRef Id="WixUI_Common" />
    <UIRef Id="WixUI_ErrorProgressText" />
    
    <!-- Custom images -->
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)\Libraries\Installer\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)\Libraries\Installer\dialog.bmp" />

    <!-- Reference components -->
    <Feature Id="Feature_Both" Display="expand" Level="1" ConfigurableDirectory="MPEXTENDEDDIRECTORY"
             Title="MPExtended services"
             Description="MPExtended web services for MediaPortal">
      <ComponentGroupRef Id="Component_General" />
      <ComponentGroupRef Id="Component_WSS" />
      <ComponentGroupRef Id="Component_Streaming" />
      <ComponentRef Id="Component_Service" />

      <Feature Id="Feature_Client"  Level="3" Absent="allow" InstallDefault="local" AllowAdvertise="no"
               Title="Client service"
               Description="Access to the MediaPortal media databases and shares. Select if you've the MediaPortal UI installed.">
        <Condition Level="3">InstallType = "Custom" OR InstallType = "Singleseat" OR InstallType = "Client"</Condition>
        <ComponentGroupRef Id="Component_MAS"/>
      </Feature>

      <Feature Id="Feature_Server" Level="3" Absent="allow" InstallDefault="local" AllowAdvertise="no"
               Title="Server service"
               Description="Access to the MediaPortal TV Server. Select only if you have the MediaPortal TV Server installed.">
        <Condition Level="3">InstallType = "Custom" OR InstallType = "Singleseat" OR InstallType = "TV"</Condition>
        <ComponentGroupRef Id="Component_TAS"/>
      </Feature>

      <Feature Id="Feature_Configurator" Level="3" Absent="allow" InstallDefault="local" AllowAdvertise="no"
               Title="Desktop service"
               Description="Features a tray application to allow remote control of power modes and MediaPortal, and a configuration program for MPExtended services.">
        <ComponentGroupRef Id="Component_USS"/>
        <ComponentGroupRef Id="Component_Configurator"/>
      </Feature>
<!--
      <Feature Id="Feature_WifiRemote" Level="15" Absent="allow" InstallDefault="local" AllowAdvertise="no"
               Title="WifiRemote"
               Description="Install the WifiRemote remote control plugin for the MediaPortal client.">
      </Feature>
-->
    </Feature>
  </Product>
</Wix>