<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="CustomSetupTypeDlg" Width="370" Height="270" Title="!(loc.SetupTypeDlg_Title)">
        <Control Id="ClientButton" Type="PushButton" X="30" Y="65" Width="80" Height="17" ToolTip="Client installation" Default="yes" Text="&amp;Client">
          <Publish Property="InstallType" Value="Client">1</Publish>
          <Publish Event="SetInstallLevel" Value="5">1</Publish>
        </Control>

        <Control Id="TVButton" Type="PushButton" X="30" Y="100" Width="80" Height="17" ToolTip="TV installation" Default="yes" Text="&amp;TV">
          <Publish Property="InstallType" Value="TV">1</Publish>
          <Publish Event="SetInstallLevel" Value="5">1</Publish>
        </Control>

        <Control Id="SingleseatButton" Type="PushButton" X="30" Y="135" Width="80" Height="17" ToolTip="Singleseat installation" Default="yes" Text="&amp;Singleseat">
          <Publish Property="InstallType" Value="Singleseat">1</Publish>
          <Publish Event="SetInstallLevel" Value="5">1</Publish>
        </Control>

        <Control Id="CustomButton" Type="PushButton" X="30" Y="170" Width="80" Height="17" ToolTip="Custom installation" Text="C&amp;ustom">
          <Publish Property="WixUI_InstallMode" Value="InstallCustom">1</Publish>
          <Publish Property="InstallType" Value="Custom">1</Publish>
          <Publish Event="SetInstallLevel" Value="12">1</Publish>
        </Control>

        <Control Id="ClientText" Type="Text" X="120" Y="67" Width="280" Height="20" Text="Install only client software." />
        <Control Id="TVText" Type="Text" X="120" Y="102" Width="280" Height="30" Text="Install only TV Server service." />
        <Control Id="SingleseatText" Type="Text" X="120" Y="137" Width="280" Height="20" Text="Install both features." />
        <Control Id="CustomText" Type="Text" X="120" Y="172" Width="280" Height="20" Text="Customize your installation." />

        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Choose the configuration that suits your MediaPortal setup the best." />
        
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.SetupTypeDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.SetupTypeDlgTitle)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>