@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.WebMusicAlbum>

@{
    ViewBag.Title = "Albums";
}

<h3>Browse Albums</h3>

<ul>
    @foreach (var album in Model)
    {
          <li> @Html.ActionLink(album.Title, "Tracks", new { album = album.Title, artist = album.ShortedAlbumArtist }) </li>     
    }
</ul>



