@model GmaWebService.Interfaces.WebMusicTrack
@{
    ViewBag.Title = "Listen";
}
<h2>Play</h2>
You are listening to <strong>@Model.Title</strong> by <strong>@Model.ShortedAlbumArtist</strong>
@{Html.RenderAction("Player", "Stream", new
  {
      type = WebMediaPortal.Models.StreamMedia.Music,
      itemId = @Model.TrackId,
      showVideo = false
  });
}