*
{
	margin: 0px;
	padding: 0px;
	border: none;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FBF9EF;
	padding: 0 5% 15px 5%;
}

/******************** Header ************************/
#header
{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #5D5A53;
	margin: 10px 0 10px 0;
}

#header h1
{
	font-size: 22px;
	float: left;
	margin: 10px;
	margin: 17px 0 0 20px;
}

#header #logo
{
    height: 60px;
    width: 60px;
    float: left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin: 10px 10px 4px 10px;
    color: #8A8575;
}

#logindisplay a:link
{
    color: #F6855E;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #F6855E;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: #F6855E;
    text-decoration: none;
}

#search
{
    font-size: 1.1em;
    text-align: right;
    margin-right: 10px;
}

#search input
{
    width: 200px;
}


/******************** Navigation ************************/
ul#navlist
{
	float: right;
}

ul#navlist li
{
	display: inline;
}

ul#navlist li a
{
	border-left: 1px dotted #8A8575;
	padding: 10px;
	margin-top: 10px;
	color: #8A8575;
	text-decoration: none;
	float: left;
}

ul#navlist li:first-child a
{
	border: none;
}

ul#navlist li a:hover
{
	color: #F6855E;
}

/******************** General ************************/
h2
{
	color: #5e5b54;
}

h2, h3
{
	margin-bottom: 10px;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

h3
{
	color: #9B9993;
}

p
{
	margin-bottom: 15px;
	margin-top: 0px;
}

p em
{
	color: #9b9993;
}

a:link, a:visited
{
	color: #F6855E;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

a:active
{
	color: #006633;
	text-decoration: none;
	font-weight: bold;
}

/******************** Lists ************************/
ul li a
{
	font-size: 16px;
}

ul
{
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}

ul.list
{
    overflow: hidden;
}
    
ul.list li
{
    width: 250px;
    float: left;
    margin: 15px;
}

/******************** Detail views ************************/
div.imageColumn
{
    float: left;
    margin-right: 10px;
}

div.imageColumn img
{
    max-width: 300px;
}

div.imageColumn.extended img
{
    max-width: 500px;
}

div.dataColumn
{
    float: left;
    margin-right: 10px;
}

div.listColumn
{
    float: left;
    width: auto;
}

/******************** Tables ************************/
table.webmp
{
	border: 1px solid #000;
	border-collapse: collapse;
	color: #666666;
	min-width: 500px;
	width: 100%;
}

table.webmp tr
{
	border: 1px solid #000;
	line-height: 25px;
}

table.webmp th
{
	background-color: #9b9993;
	color: #000;
	font-size: 13px;
	text-align: left;
}

table.webmp th, table.webmp td
{
	padding-left: 5px;
}

table.webmp tr:hover
{
	background-color: #fff;
}

/******************** Forms ************************/
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 300px;
}

/******************** Validation helpers ************************/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/******************** Editor and display helpers ************************/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/******************** jQuery UI styling ************************/
.ui-datepicker-trigger 
{
    margin-left: 3px;
    margin-bottom: 2px;
    vertical-align: middle;
}