<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
    Copyright (C) 2011-2012 MPExtended Developers, http://mpextended.github.com/
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
  -->
  <Fragment>
    <!-- General stuff -->
    <ComponentGroup Id="Component_General">
      <ComponentRef Id="Component_General_Libraries"/>
      <ComponentRef Id="Component_General_MetaService"/>
      <ComponentRef Id="Component_General_Registry"/>
      <ComponentRef Id="Component_General_Interface"/>
      <ComponentRef Id="Component_General_Config"/>
      <ComponentRef Id="Component_General_Logs"/>
    </ComponentGroup>

    <!-- MAS -->
    <ComponentGroup Id="Component_MAS">
      <ComponentRef Id="Component_MAS_Binaries"/>
      <ComponentRef Id="Component_MAS_Interface"/>
      <ComponentRef Id="Component_MAS_Extensions"/>
      <ComponentRef Id="Component_MAS_Config"/>
      <ComponentRef Id="Component_MAS_Registry"/>
    </ComponentGroup>

    <!-- TAS -->
    <ComponentGroup Id="Component_TAS">
      <ComponentRef Id="Component_TAS_Binaries"/>
      <ComponentRef Id="Component_TAS_Interface"/>
      <ComponentRef Id="Component_TAS_Registry"/>
    </ComponentGroup>

    <!-- WSS -->
    <ComponentGroup Id="Component_WSS">
      <ComponentGroupRef Id="Component_Streaming"/>
      <ComponentRef Id="Component_MAS_Interface"/>
      <ComponentRef Id="Component_TAS_Interface"/>
      <ComponentRef Id="Component_WSS_Binaries"/>
      <ComponentRef Id="Component_WSS_Registry"/>
      <ComponentRef Id="Component_WSS_Config"/>
    </ComponentGroup>

    <!-- USS -->
    <ComponentGroup Id="Component_USS">
      <ComponentRef Id="Component_USS_Binaries"/>
      <ComponentRef Id="Component_USS_Registry"/>
    </ComponentGroup>

    <!-- Configurator -->
    <ComponentGroup Id="Component_Configurator">
      <ComponentRef Id="Component_Configurator_Binaries"/>
      <ComponentRef Id="Component_Configurator_StartMenu"/>
      <ComponentRef Id="Component_Configurator_Desktop"/>
      <ComponentRef Id="Component_Configurator_Autostart"/>
    </ComponentGroup>
  </Fragment>
  
  <!--
    The default installation level is always 5. This means that things with a level
    lower then 5 get installed by default, while other things don't. 
    
    The service host and other general libraries are installed by default with a
    level of 1. The service configurator and the streaming service also get installed
    by default but can be disabled when using a custom setup (set to level 3). All 
    other features are set to level 10 (so they won't be installed by defualt), but are
    enabled by the UI logic in SetupType.wxs.
    
    Using a Condition element here to change the level of the features doesn't work
    as described here: http://www.joyofsetup.com/2007/05/30/feature-conditions-and-ui/
  -->

  <Fragment>
    <!-- Reference components -->
    <Feature Id="Feature_All" Display="expand" Level="1" Absent="disallow" ConfigurableDirectory="MPEXTENDEDDIRECTORY"
             Title="MPExtended services"
             Description="MPExtended webservices for MediaPortal">
      <ComponentGroupRef Id="Component_General" />
      <ComponentRef Id="Component_Service" />

      <Feature Id="Feature_Client"  Level="10" Absent="disallow" InstallDefault="local" AllowAdvertise="no"
               Title="!(loc.FeatureClient)"
               Description="!(loc.FeatureClientDescription)">
        <ComponentGroupRef Id="Component_MAS"/>
      </Feature>

      <Feature Id="Feature_WifiRemote" Level="10" Absent="disallow" InstallDefault="local" AllowAdvertise="no"
               Title="!(loc.FeatureWifiRemote)"
               Description="!(loc.FeatureWifiRemoteDescription)">
      </Feature>

      <Feature Id="Feature_Server" Level="10" Absent="disallow" InstallDefault="local" AllowAdvertise="no"
               Title="!(loc.FeatureServer)"
               Description="!(loc.FeatureServerDescription)">
        <ComponentGroupRef Id="Component_TAS"/>
      </Feature>

      <Feature Id="Feature_Configurator" Level="3" Absent="disallow" InstallDefault="local" AllowAdvertise="no"
               Title="!(loc.FeatureConfigurator)"
               Description="!(loc.FeatureConfiguratorDescription)">
        <ComponentGroupRef Id="Component_USS"/>
        <ComponentGroupRef Id="Component_Configurator"/>
      </Feature>

      <Feature Id="Feature_Streaming" Level="3" Absent="disallow" InstallDefault="local" AllowAdvertise="no"
               Title="!(loc.FeatureStreaming)"
               Description="!(loc.FeatureStreamingDescription)">
        <ComponentGroupRef Id="Component_Streaming"/>
        <ComponentGroupRef Id="Component_WSS"/>
        <MergeRef Id="VC2010Redist"/>
      </Feature>
    </Feature>
  </Fragment>
</Wix>