<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <!--
    Copyright (C) 2011-2012 MPExtended Developers, http://mpextended.github.com/
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
  -->
  <Product
    Id="*"
    UpgradeCode="21ae5680-f56d-4bb6-8835-87b5081b156d"
    Name="MPExtended Service"
    Language="1033"
    Version="!(bind.FileVersion.MPExtended.Libraries.Service.dll)"
    Manufacturer="MPExtended">
    <Package Manufacturer="MPExtended" InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

    <!-- Enable this for debugging (avoids creating a restore point, makes the installer a lot faster) -->
    <!-- <Property Id="MSIFASTINSTALL" Value="3" /> -->
    
    <!-- Project general -->
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <!-- Disallow downgrades and support upgrades -->
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="Cannot downgrade, try a reinstallation." AllowSameVersionUpgrades="yes" MigrateFeatures="no" />
    <Property Id="PREVIOUSVERSIONINSTALLED" Secure="yes" />
    <Upgrade Id="21ae5680-f56d-4bb6-8835-87b5081b156d">
      <UpgradeVersion Property="PREVIOUSVERSIONINSTALLED"
                      IncludeMinimum="yes" Minimum="0.0.0.0"
                      IncludeMaximum="no" Maximum="!(bind.FileVersion.MPExtended.Libraries.Service.dll)"
                      OnlyDetect="no" />
    </Upgrade>
    
    <!-- The stupid icon -->
    <Icon Id="MPExtendedIcon" SourceFile="$(var.SolutionDir)\Libraries\Artwork\MpExtl_Icon_256.ico" />
    <Property Id="ARPPRODUCTICON" Value="MPExtendedIcon" />

    <!-- Require .NET 4 -->
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="MPExtended services requires Microsoft .NET Framework 4.0 Full Runtime. Please install the .NET Framework and run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    
    <!-- Include custom action library -->
    <Binary Id="CustomActionLibrary" SourceFile="$(var.MPExtended.Installers.CustomActions.TargetDir)\MPExtended.Installers.CustomActions.CA.dll" />
    
    <!-- WifiRemote installer -->
    <Binary Id="WifiRemoteInstallerBin" SourceFile="$(var.SolutionDir)\Libraries\Installer\WifiRemote_0.6.9.mpe1" />
    <Property Id="WifiRemotePackagedVersion" Value="0.6.9.0" />
    <CustomAction Id="WifiRemoteInstaller" BinaryKey="CustomActionLibrary" DllEntry="InstallWifiRemote" Execute="immediate" Return="check" />
    
    <!-- Remove config files on uninstall -->
    <CustomAction Id="RemoveDataFiles" BinaryKey="CustomActionLibrary" DllEntry="RemoveData" Execute="immediate" Return="check" />
    
    <!-- Schedule both -->
    <InstallExecuteSequence>
      <Custom Action="WifiRemoteInstaller" Before="InstallFinalize"><![CDATA[(&Feature_WifiRemote=3)]]></Custom>
      <Custom Action="RemoveDataFiles" Before="InstallFinalize"><![CDATA[(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")]]></Custom>
    </InstallExecuteSequence>

    <!-- Run configurator after installation -->
    <CustomAction Id="LaunchConfigurator" FileKey="ConfiguratorExecutable" ExeCommand="/Open" Impersonate="yes" Return="asyncNoWait" />
    
    <!-- Set TVE installation directory -->
    <Property Id="MPTVEINSTALLDIRECTORY">
      <RegistrySearch Id="TveInstallationDirectorySearch" Root="HKLM" Type="directory" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\MediaPortal TV Server" Name="InstallPath" Win64="no" />
    </Property>
    <Property Id="HAS_TVE">
      <RegistrySearch Id="HasTveSearch" Root="HKLM" Type="raw" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\MediaPortal TV Server" Name="InstallPath" Win64="no" />
    </Property>

    <!-- Generic wix configuration -->
    <FeatureRef Id="Feature_All" />
    <Property Id="WIXUI_INSTALLDIR" Value="MPEXTENDEDDIRECTORY" />
    
    <!-- Service -->
    <DirectoryRef Id="InstallDirectory">
      <Component Id="Component_Service" Guid="bec0610f-43c4-4a1d-840b-6beeb1259a62">
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\MPExtended.ServiceHosts.CoreService.exe" KeyPath="yes" Id="MainService"/>
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\MPExtended.ServiceHosts.CoreService.pdb" />
        <File Source="$(var.MPExtended.ServiceHosts.CoreService.TargetDir)\MPExtended.ServiceHosts.CoreService.exe.config" />
        
        <!-- let's just install the consolehost too, for debugging -->
        <File Source="$(var.MPExtended.ServiceHosts.ConsoleHost.TargetDir)\MPExtended.ServiceHosts.ConsoleHost.exe" />
        <File Source="$(var.MPExtended.ServiceHosts.ConsoleHost.TargetDir)\MPExtended.ServiceHosts.ConsoleHost.pdb" />
        <File Source="$(var.MPExtended.ServiceHosts.ConsoleHost.TargetDir)\MPExtended.ServiceHosts.ConsoleHost.exe.config" />

        <ServiceInstall
          Id="InstallService"
          Type="ownProcess"
          Vital="yes"
          Name="MPExtended Service"
          DisplayName="MPExtended Service"
          Description="Offers remote access to MediaPortal"
          Start="auto"
          ErrorControl="ignore"
          Interactive="no"
          Account="LocalSystem" />
        <ServiceControl
          Id="StartService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Name="MPExtended Service"
          Wait="yes" />
        <fire:FirewallException
          IgnoreFailure="yes"
          Id="FirewallException"
          Name="MPExtended Service"
          Scope="any"
          Profile="all"
          Protocol="tcp"
          Port="4322" />
      </Component>
    </DirectoryRef>
    
    <!-- User interface -->
    <UIRef Id="GeneralUI"/>
    <UIRef Id="WixUI_Common" />
    <UIRef Id="WixUI_ErrorProgressText" />
    
    <!-- Configurator program -->
    <Property Id="INSTALLCONFIGURATORSTARTMENU">1</Property>
    <Property Id="INSTALLCONFIGURATORAUTOSTART">1</Property>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX">1</Property>
    
    <!-- Custom images -->
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)\Libraries\Installer\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)\Libraries\Installer\dialog.bmp" />
    <Binary Id="ExitDialogBitmap" SourceFile="$(var.SolutionDir)\Libraries\Installer\exitdialog.bmp" />
  </Product>
</Wix>