<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
  Copyright (C) 2011 MPExtended Developers, http://mpextended.codeplex.com/
  
  MPExtended is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.
  
  MPExtended is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with MPExtended. If not, see <http://www.gnu.org/licenses/>.
  -->
  <Fragment>
    <ComponentGroup Id="Component_Streaming">
      <ComponentRef Id="Component_Streaming_FFMpeg"/>
      <ComponentRef Id="Component_Streaming_Segmenter"/>
      <ComponentRef Id="Component_Streaming_VLC"/>
      <ComponentRef Id="Component_Streaming_VLC_Plugins"/>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="StreamingDirectory">
      <Component Id="Component_Streaming_FFMpeg" Guid="5b6c60e8-e751-4747-982a-db96a979753c">
        <File Source="$(var.SolutionDir)\Libraries\Streaming\ffmpeg.exe" />
      </Component>

      <Directory Id="Dir_Streaming_Segmenter" Name="Segmenter">
        <Component Id="Component_Streaming_Segmenter" Guid="51e66118-7484-4f99-a00d-6a639d2f2d4f">
          <File Source="$(var.SolutionDir)\Libraries\Streaming\segmenter\segmenter.exe" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\segmenter\avutil-50.dll" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\segmenter\avcodec-52.dll" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\segmenter\avformat-52.dll" />
        </Component>
      </Directory>

      <Directory Id="Dir_Streaming_VLC" Name="vlc-1.1.11">
        <!-- VC redist for VLCWrapper-->
        <Merge Id="VC2010Redist" SourceFile="$(var.SolutionDir)\Libraries\Installer\Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0" />
        
        <Component Id="Component_Streaming_VLC" Guid="867bac19-d289-4893-875d-6f3bff560b5e">
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\MPExtended.Libraries.VLCWrapper.exe" />

          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\AUTHORS.txt" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\COPYING.txt" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\libvlc.dll" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\libvlc.dll.manifest" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\libvlccore.dll" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\NEWS.txt" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\README.txt" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\THANKS.txt" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\vlc.exe" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\vlc.exe.manifest" />
          <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\vlc.ico" />
        </Component>

        <Directory Id="Dir_Streaming_VLC_Plugins" Name="plugins">
          <Component Id="Component_Streaming_VLC_Plugins" Guid="780d9654-732a-40ac-8f11-e16a968d4769">
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liba52tofloat32_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liba52tospdif_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liba52_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_attachment_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_bd_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_fake_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_ftp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_http_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_imem_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_mms_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_output_dummy_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_output_file_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_output_http_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_output_shout_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_output_udp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_realrtsp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_smb_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_tcp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaccess_udp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libadjust_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libadpcm_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaes3_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaiff_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libalphamask_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaout_directx_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaout_file_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaout_sdl_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaraw_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libasf_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libatmo_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaudiobargraph_a_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaudiobargraph_v_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaudioscrobbler_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libaudio_format_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libau_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libavcodec_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libavi_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libball_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libbda_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libblendbench_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libblend_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libbluescreen_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcaca_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcanvas_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcc_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcdda_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcdg_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libchain_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libchorus_flanger_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libclone_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcolorthres_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libconverter_fixed_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcroppadd_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcrop_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libcvdsub_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdeinterlace_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdemuxdump_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdemux_cdg_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdirac_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdirect3d_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdirectx_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdmo_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdolby_surround_decoder_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdrawable_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdshow_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdtstofloat32_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdtstospdif_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdts_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdummy_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdvbsub_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdvdnav_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libdvdread_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libequalizer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liberase_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libes_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libexport_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libextract_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libfaad_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libfake_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libfilesystem_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libflacsys_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libflac_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libfloat32_mixer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libfluidsynth_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libfolder_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libfreetype_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgaussianblur_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgestures_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libglobalhotkeys_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libglwin32_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgme_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgnutls_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgoom_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgradient_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgrain_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libgrey_yuv_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libh264_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libheadphone_channel_mixer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libhotkeys_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi420_rgb_mmx_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi420_rgb_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi420_rgb_sse2_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi420_yuy2_mmx_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi420_yuy2_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi420_yuy2_sse2_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi422_i420_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi422_yuy2_mmx_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi422_yuy2_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libi422_yuy2_sse2_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libinvert_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libinvmem_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libkate_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liblibass_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liblibmpeg2_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liblive555_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liblogger_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liblogo_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liblpcm_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liblua_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmagnify_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmarq_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmediadirs_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmemcpy3dn_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmemcpymmxext_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmemcpymmx_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmirror_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmjpeg_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmkv_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmod_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmono_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmosaic_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmotionblur_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmotiondetect_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmp4_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmpc_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmpeg_audio_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmpgatofixed32_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmpgv_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmsn_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_asf_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_avi_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_dummy_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_mp4_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_mpjpeg_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_ogg_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_ps_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_ts_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libmux_wav_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libnetsync_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libnoise_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libnormvol_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libnsc_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libnsv_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libntservice_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libnuv_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libogg_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liboldhttp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liboldrc_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\liboldtelnet_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libosdmenu_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libosd_parser_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_copy_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_dirac_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_flac_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_h264_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_mlp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_mpeg4audio_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_mpeg4video_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_mpegvideo_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpacketizer_vc1_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpanoramix_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libparam_eq_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libplaylist_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpng_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpodcast_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libportaudio_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpostproc_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libprojectm_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpsychedelic_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libps_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpuzzle_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libpva_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libquicktime_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librawaud_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librawdv_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librawvideo_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librawvid_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librealvideo_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libreal_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libremoteosd_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libripple_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librotate_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librss_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librtp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\librv32_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsap_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libscaletempo_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libscale_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libscene_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libschroedinger_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libscreen_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsdl_image_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsharpen_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsimple_channel_mixer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsmf_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libspatializer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libspdif_mixer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libspeex_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libspudec_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstats_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_filter_rar_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_filter_record_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_autodel_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_bridge_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_description_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_display_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_dummy_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_duplicate_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_es_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_gather_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_mosaic_bridge_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_raop_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_record_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_rtp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_smem_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_standard_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libstream_out_transcode_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsubsdec_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsubsusf_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsubtitle_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libsvcdsub_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libswscale_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libt140_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libtaglib_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libtheora_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libtransform_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libtrivial_channel_mixer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libtrivial_mixer_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libts_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libtta_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libtwolame_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libty_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libugly_resampler_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvc1_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvcd_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvideo_filter_wrapper_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvisual_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvmem_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvobsub_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvoc_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvod_rtsp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvorbis_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvout_sdl_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libvout_wrapper_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libwall_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libwaveout_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libwave_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libwav_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libwingdi_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libx264_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libxa_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libxml_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libxtag_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libyuvp_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libyuv_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libyuy2_i420_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libyuy2_i422_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libzip_plugin.dll" />
            <File Source="$(var.SolutionDir)\Libraries\Streaming\vlc-1.1.11\plugins\libzvbi_plugin.dll" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>