<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
    Copyright (c) 2011 MPExtended Developers, http://mpextended.github.com/
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
  -->
	<Fragment>
    <!-- User interface -->
    <UI Id="GeneralUI">
      <ProgressText Action="WifiRemoteInstaller">Installing WifiRemote...</ProgressText>

      <!-- Based upon WiX source code. -->
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomSetupTypeDlg">NOT Installed AND NOT PATCH</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Publish Dialog="CustomSetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="ClientButton" Event="NewDialog" Value="ConfiguratorDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="TVButton" Event="NewDialog" Value="ConfiguratorDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="SingleseatButton" Event="NewDialog" Value="ConfiguratorDlg">1</Publish>
      <Publish Dialog="CustomSetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="CustomSetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="ConfiguratorDlg"><![CDATA[&Feature_Configurator=3]]></Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg"><![CDATA[&Feature_Configurator<>3]]></Publish>

      <Publish Dialog="ConfiguratorDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">InstallType = "Custom"</Publish>
      <Publish Dialog="ConfiguratorDlg" Control="Back" Event="NewDialog" Value="CustomSetupTypeDlg" Order="2">InstallType = "TV" OR InstallType = "Singleseat" OR InstallType = "Client"</Publish>
      <Publish Dialog="ConfiguratorDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="3">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ConfiguratorDlg" Order="1"><![CDATA[DoInstall AND &Feature_Configurator=3]]></Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="2"><![CDATA[DoInstall AND &Feature_Configurator<>3]]></Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="4">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="5">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">WixUI_InstallMode = "Update"</Publish>
      
      <Publish Dialog="CustomExitDialog" Control="Finish" Event="DoAction" Value="LaunchConfigurator" Order="1"><![CDATA[WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed AND &Feature_Configurator=3]]></Publish>
      <Publish Dialog="CustomExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="2">1</Publish>
    </UI>
	</Fragment>
</Wix>