<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    Copyright (C) 2011-2012 MPExtended Developers, http://mpextended.github.com/
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
  -->
  <Fragment>
    <UI>
      <Dialog Id="CustomSetupTypeDlg" Width="370" Height="270" Title="!(loc.SetupTypeDlg_Title)">
        <Control Id="ClientButton" Type="PushButton" X="10" Y="75" Width="80" Height="17" ToolTip="!(loc.SetupTypeClientTooltip)" Default="yes" Text="!(loc.SetupTypeClient)">
          <Publish Event="SetInstallLevel" Value="5">1</Publish>
          <Publish Property="InstallType" Value="Client">1</Publish>
          <Publish Property="DoInstall" Value="1">1</Publish>
          <Publish Event="AddLocal" Value="Feature_WifiRemote">1</Publish>
          <Publish Event="AddLocal" Value="Feature_Client">1</Publish>
        </Control>

        <Control Id="TVButton" Type="PushButton" X="10" Y="120" Width="80" Height="17" ToolTip="!(loc.SetupTypeServerTooltip)" Default="yes" Text="!(loc.SetupTypeServer)">
          <Publish Event="SetInstallLevel" Value="5">1</Publish>
          <Publish Property="InstallType" Value="TV">1</Publish>
          <Publish Property="DoInstall" Value="1">1</Publish>
          <Publish Event="AddLocal" Value="Feature_Server">1</Publish>
        </Control>

        <Control Id="SingleseatButton" Type="PushButton" X="10" Y="165" Width="80" Height="17" ToolTip="!(loc.SetupTypeSingleseatTooltip)" Default="yes" Text="!(loc.SetupTypeSingleseat)">
          <Publish Event="SetInstallLevel" Value="5">1</Publish>
          <Publish Property="InstallType" Value="Singleseat">1</Publish>
          <Publish Property="DoInstall" Value="1">1</Publish>
          <Publish Event="AddLocal" Value="Feature_WifiRemote">1</Publish>
          <Publish Event="AddLocal" Value="Feature_Client">1</Publish>
          <Publish Event="AddLocal" Value="Feature_Server">1</Publish>
        </Control>

        <Control Id="CustomButton" Type="PushButton" X="10" Y="210" Width="80" Height="17" ToolTip="!(loc.SetupTypeCustomTooltip)" Text="!(loc.SetupTypeCustom)">
          <Publish Property="WixUI_InstallMode" Value="InstallCustom">1</Publish>
          <Publish Event="SetInstallLevel" Value="5">1</Publish>
          <Publish Property="InstallType" Value="Custom">1</Publish>
          <Publish Property="DoInstall" Value="1">1</Publish>
          <Publish Event="AddLocal" Value="Feature_WifiRemote">1</Publish>
          <Publish Event="AddLocal" Value="Feature_Client">1</Publish>
          <Publish Event="AddLocal" Value="Feature_Server">1</Publish>
        </Control>

        <Control Id="SetupTypeText" Type="Text" X="30" Y="52" Width="350" Height="20" Text="!(loc.SetupTypeTitle)" />

        <Control Id="ClientText" Type="Text" X="95" Y="77" Width="270" Height="30" Text="!(loc.SetupTypeClientDescription)" />
        <Control Id="TVText" Type="Text" X="95" Y="122" Width="270" Height="30" Text="!(loc.SetupTypeServerDescription)" />
        <Control Id="SingleseatText" Type="Text" X="95" Y="167" Width="270" Height="30" Text="!(loc.SetupTypeSingleseatDescription)" />
        <Control Id="CustomText" Type="Text" X="95" Y="212" Width="270" Height="18" Text="!(loc.SetupTypeCustomDescription)" />
        
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.SetupTypeDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>