<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
  Copyright (C) 2011 MPExtended Developers, http://mpextended.codeplex.com/
  
  MPExtended is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.
  
  MPExtended is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with MPExtended. If not, see <http://www.gnu.org/licenses/>.
  -->
  
  <!-- MAS -->
  <Fragment>
    <DirectoryRef Id="InstallDirectory">
      <Component Id="Component_MAS_Binaries" Guid="61a8f10a-2010-46d2-be8e-1e84fb959b89">
        <!-- interfaces dll and libraries are installed by WSS -->
        <File Source="$(var.MPExtended.Services.MediaAccessService.TargetDir)\MPExtended.Services.MediaAccessService.dll" />
      </Component>

      <Directory Id="ExtensionDirectory" Name="Extensions">
        <Component Id="Component_MAS_Extensions" Guid="0a8f8159-497e-40f2-89d6-7c68969276f4">
          <!-- general libraries -->
          <File Source="$(var.MPExtended.PlugIns.MAS.MPMovingPictures.TargetDir)\MPExtended.Libraries.SQLitePlugin.dll" />
          <File Source="$(var.MPExtended.PlugIns.MAS.MPMovingPictures.TargetDir)\System.Data.SQLite.dll" />

          <!-- all plugins for release -->
          <File Source="$(var.MPExtended.PlugIns.MAS.MPShares.TargetDir)\MPExtended.PlugIns.MAS.MPShares.dll" />
          <File Source="$(var.MPExtended.PlugIns.MAS.MPTVSeries.TargetDir)\MPExtended.PlugIns.MAS.MPTVSeries.dll" />
          <File Source="$(var.MPExtended.PlugIns.MAS.MPMusic.TargetDir)\MPExtended.PlugIns.MAS.MPMusic.dll" />
          <File Source="$(var.MPExtended.PlugIns.MAS.MPMovingPictures.TargetDir)\MPExtended.PlugIns.MAS.MPMovingPictures.dll" />
          <File Source="$(var.MPExtended.PlugIns.MAS.FSPictures.TargetDir)\MPExtended.PlugIns.MAS.FSPictures.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Component_MAS">
      <ComponentRef Id="Component_MAS_Binaries"/>
      <ComponentRef Id="Component_MAS_Extensions"/>
    </ComponentGroup>
  </Fragment>
  
  <!-- TAS -->
  <Fragment>
    <DirectoryRef Id="InstallDirectory">
      <Component Id="Component_TAS_Binaries" Guid="6185c32a-a5ef-4727-bea8-ebd6547726cb">
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\Gentle.Common.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\Gentle.Framework.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\Gentle.Provider.MySQL.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\Gentle.Provider.SQLServer.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\log4net.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\MySql.Data.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\TvBusinessLayer.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\TvControl.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\TVDatabase.dll" />
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\TvLibrary.Interfaces.dll" />

        <!-- interfaces dll and libraries are installed by WSS -->
        <File Source="$(var.MPExtended.Services.TVAccessService.TargetDir)\MPExtended.Services.TVAccessService.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Component_TAS">
      <ComponentRef Id="Component_TAS_Binaries"/>
    </ComponentGroup>
  </Fragment>
  
  <!-- WSS -->
  <Fragment>
    <DirectoryRef Id="InstallDirectory">
      <Component Id="Component_WSS_Binaries" Guid="3a0d3e40-c061-40b7-bd78-195c35d702c8">
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\MPExtended.Services.MediaAccessService.Interfaces.dll" />
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\MPExtended.Services.TVAccessService.Interfaces.dll" />
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\MPExtended.Services.StreamingService.Interfaces.dll" />
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\MPExtended.Services.StreamingService.dll" />
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\MPExtended.Libraries.ServiceLib.dll" />
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\MPExtended.Libraries.General.dll" />
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\MediaInfo.dll" />
        <File Source="$(var.MPExtended.Services.StreamingService.TargetDir)\NLog.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Component_WSS">
      <ComponentRef Id="Component_WSS_Binaries"/>
    </ComponentGroup>
  </Fragment>

  <!-- USS -->
  <Fragment>
    <DirectoryRef Id="InstallDirectory">
      <Component Id="Component_USS_Binaries" Guid="fe44be32-fa7d-4439-a16a-ddbab9e592b4">
        <File Source="$(var.MPExtended.Services.UserSessionService.TargetDir)\MPExtended.Services.UserSessionService.Interfaces.dll" />
        <File Source="$(var.MPExtended.Services.UserSessionService.TargetDir)\MPExtended.Services.UserSessionService.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Component_USS">
      <ComponentRef Id="Component_USS_Binaries"/>
    </ComponentGroup>
  </Fragment>

  <!-- Configurator -->
  <Fragment>
    <DirectoryRef Id="InstallDirectory">
      <Component Id="Component_Configurator_Binaries" Guid="b35532af-5cc4-41a7-9bce-03175b3d8f92">
        <File Source="$(var.MPExtended.Applications.ServiceConfigurator.TargetDir)\MPExtended.Applications.ServiceConfigurator.exe" />
        <File Source="$(var.MPExtended.Applications.ServiceConfigurator.TargetDir)\Hardcodet.Wpf.TaskbarNotification.dll" />
        <File Source="$(var.MPExtended.Applications.ServiceConfigurator.TargetDir)\Hardcodet.Wpf.TaskbarNotification.xml" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Component_Configurator">
      <ComponentRef Id="Component_Configurator_Binaries"/>
    </ComponentGroup>
  </Fragment>
</Wix>