<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- 
    Prevent upgrades to newer versions, as the Gentle we still bundle requires this specific 
    version. Once we change that in Gentle (and preferably ship it with NuGet as well), or
    we start using TVE3.5, this constraint can be dropped.
  -->
  <package id="MySql.Data" version="5.1.7.0" targetFramework="net40" allowedVersions="[5.1.7.0]" />
</packages>