@model IEnumerable<TV4Home.Server.TVEInteractionLibrary.Interfaces.WebChannelBasic>
@{
    ViewBag.Title = "TV Guide";
}
@{Html.RenderAction("Menu", "Television");}

<div id="TVGuidePrograms">
    @{ if (@Model != null)
       {
           foreach (TV4Home.Server.TVEInteractionLibrary.Interfaces.WebChannelBasic channel in @Model)
           {
        <div class="TVGuideRow">
            <div class="TVGuideCellChannel">
                <a href="@Url.Action("WatchLiveTV", new { channelId = channel.IdChannel })" style="display: inline-block; height: 100%; width: 100%; text-decoration: none;">
                    <span id="lblChannelName" class="TVGuideCellChannelText">@channel.DisplayName</span>
                </a>
            </div>
             <div class="TVGuideProgramsPanel">
            @{Html.RenderAction("ProgramData","Television",new { channelid = channel.IdChannel}); }
            </div>
        </div>
        <div class="TVGuideStandardSpacing">
        </div>
    
           }
       }   
    }
</div>
