<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product
    Id="faf9b821-ef2f-450d-a724-cac899e29aa2"
    UpgradeCode="2500da7a-2c31-4f65-be68-be286b9ee380"
    Name="MPExtended Client Services"
    Language="1033"
    Version="!(bind.FileVersion.MPExtended.Services.StreamingService.dll)"
    Manufacturer="MPExtended">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <!-- TODO: do we really want to disallow downgrades? -->
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="Cannot downgrade, try a reinstallation."/>

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="MPExtended services require Microsoft .NET Framework 4.0 Full Runtime. Please install the .NET Framework and then run this isntaller again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <!-- Directory structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MPExtendedDir" Name="MPExtended">
          <Directory Id="InstallDirectory" Name="Client Service">
            <Directory Id="FFMpegDir" Name="FFMpeg">

              <Component Id="FFMpegBinaries" Guid="a967d64b-fe1a-4c8e-9655-ae7efb7c79fb">
                <File Source="$(var.SolutionDir)\Libraries\Streaming\ffmpeg.exe" />
              </Component>

            </Directory>

            <Component Id="ServiceBinaries" Guid="ddd6c617-8fe7-408b-82b0-25c0eb6699fb">
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.ServiceHosts.Client.exe" Id="MainService" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.ServiceHosts.Client.exe.config" />

              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.Services.MediaAccessService.Interfaces.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.Services.MediaAccessService.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.Services.StreamingService.Interfaces.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.Services.StreamingService.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.Services.TVAccessService.Interfaces.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MPExtended.Libraries.ServiceLib.dll" />

              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\NLog.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MediaInfo.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\System.Data.SQLite.dll" />
              <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\NLog.config" />

              <!-- TODO: Do we want to install debugging information? -->

              <!-- Service -->
              <ServiceInstall
                Id="InstallService"
                Type="ownProcess"
                Vital="yes"
                Name="MPExtended Client Service"
                DisplayName="MPExtended Client Service"
                Description="Offers remote access to MediaPortal databases and shares"
                Start="auto"
                ErrorControl="ignore"
                Interactive="no"
                Account="LocalSystem">
              </ServiceInstall>
              <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="MPExtended Client Service" Wait="yes" />

              <!-- Add firewall exception -->
              <fire:FirewallException IgnoreFailure="yes" Id="FirewallException" Name="MPExtended Client Service" Scope="localSubnet" Protocol="tcp" Program="[#MainService]"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="OurAppDataFolder" Name="MPExtended">
          <Component Id="AppDataConfig" Guid="6a3f3fb7-81d4-48db-85cd-96677df6834a">
            <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\Services.xml" />
            <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\MediaAccess.xml" />
            <File Source="$(var.MPExtended.ServiceHosts.Client.TargetDir)\Streaming.xml" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="MPExtended.ServiceSetups.Client" Level="1">
      <ComponentRef Id="ServiceBinaries" />
      <ComponentRef Id="FFMpegBinaries" />
      <ComponentRef Id="AppDataConfig" />
    </Feature>
  </Product>
</Wix>