<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>  
  <appSettings>
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" cookieless="UseCookies" />
    </authentication>

    <membership defaultProvider="WebMediaPortalMembershipProvider">
      <providers>
        <clear/>
        <add name="WebMediaPortalMembershipProvider" type="MPExtended.Applications.WebMediaPortal.Code.ServiceMembershipProvider" applicationName="WebMediaPortal" />
      </providers>
    </membership>

    <profile enabled="false" />
    <roleManager enabled="false" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <customErrors mode="Off" />

    <httpHandlers>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    
    <validation validateIntegratedModeConfiguration="false"/>

    <handlers>
      <remove name="BlockViewHandler"/>
    </handlers>

    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <add fileExtension="*.dll" allowed="false" />
          <add fileExtension="*.pdb" allowed="false" />
          <add fileExtension="*.exe" allowed="false" />
          <add fileExtension="*.cshtml" allowed="false" />
          <add fileExtension="*.vbhtml" allowed="false" />
          <add fileExtension="*.asax" allowed="false" />
          <add fileExtension="*.cs" allowed="false" />
          <add fileExtension="*.config" allowed="false" />
        </fileExtensions>
        
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
        
        <hiddenSegments>
          <clear />
          <add segment="web.config" />
          <add segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
