<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MPExtended.Services.TVAccessService.TVAccessService" behaviorConfiguration="TVServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/MPExtended/TVAccessService"/>
            <add baseAddress="http://localhost:4321/MPExtended/TVAccessService"/>
          </baseAddresses>
        </host>
        <endpoint name="NetPipeEndpoint" address="" binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBindingConfiguration" contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService"/>
        <endpoint name="SoapEndpoint" address="" binding="basicHttpBinding" contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService"/>
        <endpoint name="JsonEndpoint" address="json" binding="webHttpBinding" contract="MPExtended.Services.TVAccessService.Interfaces.ITVAccessService" bindingConfiguration="general" />
        <endpoint name="MetadataEndpoint" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="WebStreamingServiceBehavior" name="MPExtended.Services.StreamingService.StreamingService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/MPExtended/StreamingService"/>
            <add baseAddress="http://localhost:4322/MPExtended/StreamingService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netNamedPipeBinding" contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="netNamedPipeBindingConfiguration"/>
        <endpoint address="" binding="basicHttpBinding" contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="BasicGeneral"/>
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="MPExtended.Services.StreamingService.Interfaces.IWebStreamingService" bindingConfiguration="HttpGeneral"/>
        <endpoint address="stream" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="MPExtended.Services.StreamingService.Interfaces.IStreamingService" bindingConfiguration="HttpStreaming"/>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="webHttpWithCustomExceptionHandling" type="MPExtended.Services.StreamingService.Util.WebHttpWithCustomExceptionHandlingBehavior, MPExtended.Services.StreamingService"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TVServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication
              userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="MPExtended.Services.TVAccessService.WcfUsernameValidator,MPExtended.Services.TVAccessService"/>
          </serviceCredentials>
        </behavior>
        <behavior name="WebStreamingServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MPExtended.Services.StreamingService.Util.WcfUsernameValidator, MPExtended.Services.StreamingService"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttpWithCustomExceptionHandling/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBindingConfiguration" receiveTimeout="infinite"/>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding name="general" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="BasicGeneral" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="BasicStreaming" openTimeout="00:40:00" sendTimeout="00:40:00" transferMode="StreamedResponse">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="general" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="streaming" sendTimeout="00:40:00" openTimeout="00:40:00" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
        <binding name="HttpGeneral" sendTimeout="00:15:00" transferMode="Buffered">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="HttpStreaming" openTimeout="00:40:00" sendTimeout="00:40:00" transferMode="StreamedResponse">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
