@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.TVShow.WebTVShowBasic>
@{
    ViewBag.Title = "TV Shows";
}

<h2>Your tv series</h2>
<div class="column">
<ul>
    @foreach (var show in Model)
    {
        <li>@Html.ActionLink(show.Title, "Seasons", new { show = show.Id })</li>       
    }
</ul>
</div>

